<div class="row cnx-margin-bottom-10">
  <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <app-cnx-user-image [profileImageUrl]="commentItem.ProfileImageUrl"></app-cnx-user-image>
  </div>
  <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10">
      <div class="row">
          <div class="col-lg-12 com-md-12 col-sm-12 col-xs-12 cnx-profileName cnx-lcs-model-posted-by">
              {{commentItem.CommentBy}}
          </div>
          <div class="col-lg-12 com-md-12 col-sm-12 col-xs-12 cnx-lcs-model-text">
              {{commentItem.CommentMessage}}
          </div>
          <div class="col-lg-12 com-md-12 col-sm-12 col-xs-12">
              <span class="cnx-pull-right cnx-lcs-model-time">
                 {{commentItem.CommentOn | translatedate : cnxLanguageService.lastUpdatedTime }}
              </span>
          </div>
          <!-- <div class="col-lg-12 com-md-12 col-sm-12 col-xs-12">
              <div class="col-lg-4 com-md-4 col-sm-4 col-xs-4 cnx-lcs-model-time cnx-float-left" *ngIf="commentItem.IsContentFlagged">
                  <div class="report-status">
                    <img class="cnx-user-image cnx-un-read-icon" [src]="getDefaultIcon('CNX_FLAG_WHITE')">&nbsp;
                      <span>{{ 'REPORTED' | translate : cnxLanguageService.lastUpdatedTime }}</span>
                  </div>
              </div>
              <div class="col-lg-4 com-md-4 col-sm-4 col-xs-4 cnx-lcs-model-time cnx-float-left" ng-class="{'col-offset-50': !commentItem.IsContentFlagged}">
                  <span>{{ 'COMMENT_EDIT' | translate : cnxLanguageService.lastUpdatedTime  }}</span>
              </div>
              <div class="col-lg-4 com-md-4 col-sm-4 col-xs-4 cnx-lcs-model-time cnx-float-left" (click)="commentDelete(commentItem)">
                  <span>{{ 'COMMENT_DELETE' | translate : cnxLanguageService.lastUpdatedTime  }}</span>
              </div>
          </div> -->
      </div>
  </div>
</div>

