@import '../../../../../variables';
.cnx-right-container{
    font-size: 14px;
}
.cnx-right-alert{
    font-size: 14px;
    .cnx-emergency-head{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .cnx-emergency,
    .cnx-user-image{
        max-width: 100%;
        min-height: 100%;      
    }
    .cnx-user-image{
        min-width: 20px;
    }
    .cnx-dot{
        height: 6px;
        width: 6px;
        margin: 2px;
        background-color: $cnx-icon-label;
        border-radius: 50%;
        display: inline-block;
        &.cnx-active{
            background-color: $cnx-error-label;
        }
    }
} 
.cnx-right-kudos{
    font-size: 14px;
    .cnx-kudo-head{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .cnx-kudo{
        .fa{
            color: $cnx-menu-cmpinfo;
            font-size: 20px;
        }
    }
    .cnx-kudo,
    .cnx-user-image{
        max-width: 100%;
        min-height: 100%;      
    }
    .cnx-user-image{
        min-width: 20px;
    }
} 
.cnx-right-profile-aboutme{
    .fa{
        font-size:  18px;
        color:$cnx-color-dark-violet;
    }
}
.cnx-right-profile-skypeid{
    .fa{
        font-size: 18px;
        color: $cnx-color-blue-violet;
    }
}
.cnx-right-profile-language{
    .fa{
        font-size: 18px;
        color:$cnx-color-brownishgrey;
    }
}
.cnx-right-profile-skills{
    .fa{
        font-size:  18px;
        color:$cnx-color-greenishblue;
    }
}