<div class="row cnx-right-container">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cnx-right-alert cnx-card">
    <div class="row cnx-margin-zero cnx-padding-10">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-emergency-head">
        <span>
          <img class="cnx-emergency" [src]="emergencyIcon">
        </span>
        <span class="cnx-bold-text p-2">Emergency Messages</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 my-2">
        <span class="">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a type specimen book.</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 cnx-padding-left-right-4 cnx-float-left">
            <img class="cnx-user-image" [src]="defaultImage">
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 cnx-padding-left-right-4 cnx-bold-text px-0">
            Ramnivar kumar
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 cnx-padding-left-right-4 cnx-float-left">

          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 cnx-padding-left-right-4 cnx-bold-text px-0">
            1 hours ago
          </div>
        </div>
      </div>
      <div class="col-12 pull-right">
        <span class="cnx-dot pull-right"></span>
        <span class="cnx-dot pull-right"></span>
        <span class="cnx-dot pull-right"></span>
        <span class="cnx-dot cnx-active pull-right"></span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cnx-right-kudos cnx-card">
    <div class="row cnx-margin-zero cnx-padding-10">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-kudo-head">
        <span class="cnx-kudo">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </span>
        <span class="cnx-bold-text p-2">Kudos</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 my-2">
        <span class="">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a type specimen book.</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 cnx-padding-left-right-4 cnx-float-left">
            <img class="cnx-user-image" [src]="defaultImage">
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 cnx-padding-left-right-4 cnx-bold-text px-0">
            Ramnivar kumar
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 cnx-padding-left-right-4 cnx-float-left">

          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 cnx-padding-left-right-4 cnx-bold-text px-0">
            5 hours ago
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cnx-right-kudos cnx-card">
    <div class="row cnx-margin-zero cnx-padding-10">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-kudo-head">
        <span class="cnx-kudo">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </span>
        <span class="cnx-bold-text p-2">Location</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 my-2">
        <img style="width:100%" src="https://www.dqindia.com/wp-content/uploads/2016/03/concentrix.jpg" alt="">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-bold-text px-0" style="color:#00909b;padding-bottom: 5px">
          Fremont, CA, United States
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-bold-text px-0">
          About
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-bold-text px-0" style="font-weight:normal;padding-left:30px">
          Concentrix, a business services company, is a subsidiary of SYNNEX Corporation since 2006.
          <a style="display: block;color:#00909b" href="#">www.concentrix.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cnx-right-profile-aboutme cnx-card">
    <div class="row cnx-padding-10">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
        <span class="">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </span>
        <span class="cnx-bold-text p-2">About Me</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 my-2">
        <span class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cnx-right-profile-skypeid cnx-card">
      <div class="row cnx-padding-10">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
            <span class="">
                <i class="fa fa-skype" aria-hidden="true"></i>
            </span>
            <span class="cnx-bold-text p-2">Skype Id</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 my-2">
            <span class="">John.doe</span>
          </div>
        </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cnx-right-profile-language cnx-card">
      <div class="row cnx-padding-10">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
            <span class="">
                <i class="fa fa-language" aria-hidden="true"></i>
            </span>
            <span class="cnx-bold-text p-2">Language</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 my-2">
            <span class="">English, Spanish, Latin</span>
          </div>
        </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cnx-right-profile-skills cnx-card">
      <div class="row cnx-padding-10">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
            <span class="">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </span>
            <span class="cnx-bold-text p-2">Skills</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 my-2">
            <span class="">C++, Angular JS, Cloud & Distributed Computing, Conflict Resolution</span>
          </div>
        </div>
  </div>
</div>
