<div class="row cnx-margin-zero cnx-margin-bottom-10">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-poll-div">
            <div class="cnx-margin-zero cnx-font-size">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
                    <h5 class="cnx-color-vavy-blue cnx-bold-text cnx-timeline-title">
                        <!-- <img class="cnx-user-image cnx-un-read-icon" [src]="getDefaultIcon('CNX_POLL')">&nbsp; -->
                        <span>{{PostFeeds.AssessmentTitle}}</span>
                    </h5>
                    <span class="cnx-timeline-normal-text">
                            <span class="cnx-color-vavy-blue cnx-bold-text">{{PostFeeds.Department }} - {{ PostFeeds.Category}}</span>
                    </span> <br>
                    <span class="cnx-post-share-time" [ngClass]="{'cnx-red': getExpirayDate(PostFeeds.ExpiryDate) == 0, 'cnx-green': getExpirayDate(PostFeeds.ExpiryDate) != 0}"> 
                        {{ getExpiryText(PostFeeds.ExpiryDate)}} 
                    </span> <br>
                    <button class="button cnx-poll-btn" (click)='goToPollDetail(PostFeeds.AssessmentId)'>{{ (PostFeeds.AssessmentStatus == 0 ? 'ANSWER_POLL' : 'SEE_RESULT') | translate : cnxLanguageService.lastUpdatedTime}}</button>
                </div>
            </div>
        </div>
    