<div class="row">
  <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center cnx-hand-cursor cnx-lcs-action" *ngIf="feedDetails.EnableComments"
    (click)="openCommentModal()">
    <i class="fa fa-commenting" aria-hidden="true" placement="top" tooltip="{{ 'COMMENT' | translate: cnxLanguageService.lastUpdatedTime }}"></i>
    <span placement="top" tooltip="{{ 'COMMENT' | translate: cnxLanguageService.lastUpdatedTime }} {{ 'COUNT' | translate: cnxLanguageService.lastUpdatedTime }}">
      {{feedDetails.CommentsCount}}</span>
  </div> -->
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center cnx-hand-cursor cnx-lcs-action" *ngIf="feedDetails.EnableComments">
    <i class="fa fa-commenting" aria-hidden="true" placement="top" tooltip="{{ 'COMMENT' | translate: cnxLanguageService.lastUpdatedTime }}"></i>
    <span placement="top" tooltip="{{ 'COMMENT' | translate: cnxLanguageService.lastUpdatedTime }} {{ 'COUNT' | translate: cnxLanguageService.lastUpdatedTime }}">
      {{feedDetails.CommentsCount}}</span>
  </div>
</div>
