<!-- Author: TSPL-T0445 Created Date: 10 Sept 2018 -->
<div class="modal-header">
        <h5 class="modal-title">
            <i class="fa fa-{{lcsUserListModalData.ActionIcon}} cnx-title-icon"></i> 
            <span class="cnx-modal-title-text"> 
                {{ modalTitle | translate: cnxLanguageService.lastUpdatedTime }} 
            </span>  
          </h5>
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="hideUserListPopup()">
          <span class="cnx-modal-close" aria-hidden="true"> &times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <div class="col-12 cnx-margin-bottom-10">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cnx-model-scroll-div" 
                    infinite-scroll
                    [infiniteScrollDistance]="scrollDistance"
                    [infiniteScrollUpDistance]="scrollUpDistance"
                    [scrollWindow]="false"
                    (scrolled) = "getUserListOnScroll()">
                    <div *ngIf="lcsUserListModalData.SharedWithPeopleView; then tempSharedUserList; else tempUserList;"></div>
                <!-- Loading  -->
                 <span *ngIf="lodingStatus" class="cnx-lcs-model-text cnx-margin-50-perc"> 
                    <i class="fa fa-circle-o-notch fa-spin cnx-modal-loader" style="font-size:24px;"></i>
                </span> 
                <!-- Ends --> 
                </div>
            </div>
        </div>
        
        <div class="col-12">
          <div class="row">
              <div class="col-12 cnx-margin-bottom-10" *ngIf="backButtonVisibility">
                  <button type="button" class="pull-right cnx-btn-round" (click)="getSharedPeople()">{{ 'BACK' | translate: cnxLanguageService.lastUpdatedTime }}</button>
                </div>
          </div>
        </div>
        
      </div>
      
      <ng-template #tempUserList >
          <div *ngFor= "let userDetails of userList; index as i; trackBy: trackByFn;">
              <app-cnx-user-details-card [userDetails]="userDetails"></app-cnx-user-details-card>
          </div>
      </ng-template>
      
      <ng-template #tempSharedUserList>
          <div *ngFor= "let userDetails of userList; index as i; trackBy: trackByFn;">
            <app-cnx-shared-user-details [userDetails]="userDetails" [mediaType]="lcsUserListModalData.MediaType" 
              (showSharedWithUsers)="showSharedWithUsers($event)">
            </app-cnx-shared-user-details>
          </div>
      </ng-template>