
<div class="modal-body">
  <button type="button" class="close pull-right" aria-label="Close" (click)="commonModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <app-checkin-container *ngIf="postType == postTypes.CNC_CheckIn" [FeedType]="postType" [PostFeeds]="feedDetails"></app-checkin-container>
      <app-news-container *ngIf="postType == postTypes.CNC_NEWS" [FeedType]="postType" [PostFeeds]="feedDetails"></app-news-container>
      <app-image-container *ngIf="postType == postTypes.CNC_Image" [FeedType]="postType" [PostFeeds]="feedDetails"></app-image-container>
      <app-urls-container *ngIf="postType == postTypes.CNC_URL" [FeedType]="postType" [PostFeeds]="feedDetails"></app-urls-container>
      <app-polls-container *ngIf="postType == postTypes.CNC_POLLS" [FeedType]="postType" [PostFeeds]="feedDetails"></app-polls-container>
      <app-videos-container *ngIf="postType == postTypes.CNC_Video" [FeedType]="postType" [PostFeeds]="feedDetails"></app-videos-container>
      <app-alert-container *ngIf="postType == postTypes.CNC_Alert" [FeedType]="postType" [PostFeeds]="feedDetails"></app-alert-container>
    </div>
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
      <div *ngIf="actionType == actionTypes.Like">
        <app-cnx-lcs-user-list-modal [lcsUserListModalData]="lcsUserListModalData"></app-cnx-lcs-user-list-modal>
      </div>
      <div *ngIf="actionType == actionTypes.Comment">
        <app-cnx-comment-modal [feedType]="postType" [contentId]="contentId" [feedDetails]="feedDetails"></app-cnx-comment-modal>
      </div>
      <div *ngIf="actionType == actionTypes.Share">
        <app-cnx-lcs-user-list-modal [lcsUserListModalData]="lcsUserListModalData"></app-cnx-lcs-user-list-modal>
      </div>
    </div>
  </div>

</div>