@import '../../../variables';
.login-container {
  border-radius: 0;
  border: 0px;
  height: 100vh;
  overflow: auto;
  background: $cnx-login-background;
}

.cnx-login-card {
  min-width: 400px;
}

.login-block {
  margin: 0 auto;
  padding: 15px 45px;
  border-radius: 10px;
  text-align: center;
}

.card-signin {
  border: 0;
}

.card-signin .card-title {
  margin-bottom: 32px;
}

.card-signin .card-body {
  padding: 32px;
}

.form-signin {
  width: 100%;
}

.form-label-group {
  position: relative;
  margin-bottom: 16px;
}

.form-group input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid;
  border-color: $cnx-input-border-color;
  padding-left: 24px;
  border-radius: 0;
  font-size: $cnx-input-fontsize;
  color: $cnx-input-font-color;
}

.form-check-input {
  width: 14px;
  height: 14px;
}

.cnx-login-form-field {
  position: relative;
}

.cnx-logo {
  margin-bottom: 18px;
  max-width: 215px;
}

.cnx-login-user-icon {
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 1;
  font-size: $cnx-icon-fontsize;
  color: $cnx-icon-label;
}

.cnx-language {
  display: inline-block;
  margin: 0 auto;
  font-size: $cnx-language-fontsize;
  min-height: 54px;  
  .form-check-label {
    color: $cnx-login-language;
    display: inline-block;
  }
  .cnx-login-language {
    display: inline-block;
  }
  .cnx-display {
    display: inline-block;
  }
}

.cnx-checkbox {
  color: $cnx-login-checkbox;
  padding-left: 20px;
  .label {
    padding-left: 4px;
  }
}

.cnx-remember-me {
  font-family: $cnx-font-gotham-book;
  font-weight: 800;
}

.cnx-privacy {
  padding-left: 6px;
  word-wrap: break-word;
  font-size: $cnx-content-fontsize;
  font-family: $cnx-font-gotham-book;
  font-weight: 800;
}
.cnx-terms {

  color: $cnx-login-terms;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.cnx-fontsize {
  font-size: $cnx-content-fontsize;
}

.text-info {
  padding-left: 34px;
  .cnx-fontsize a {
    color: $cnx-login-password;
  }
}

.cnx-login-button {
  margin-top: 20px;
  background-color: #0b377b;
  font-family: $cnx-font-gotham-light;
  font-weight: 800;
  font-size: $cnx-button-fontsize;
  border-radius: 80px;
  letter-spacing: 1.6px;
  padding: 8px 65px;
  color: $cnx-color-white;
}
.cnx-terms-privacy {
  text-align: left;
  padding-left: 18px;
  font-size: $cnx-content-fontsize;
}

.cnx-checkbox-container {
  display: block;
  position: relative;
  padding-left: 18px;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
  font-size: $cnx-content-fontsize;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.cnx-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: -8px;
  height: 17px;
  width: 18px;
  border-radius: 50%;
  background-color: $cnx-login-checkmark;
}

/* On mouse-over, add a grey background color */

.cnx-checkbox-container:hover input~.checkmark {
  background-color: $cnx-login-checkmark-bg;
}

/* When the checkbox is checked, add a blue background */

.cnx-checkbox-container input:checked~.checkmark {
  background-color: $cnx-login-checkmark-checked
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.cnx-checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.cnx-checkbox-container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid $cnx-color-white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cnx-requirements {
  max-height: 18px;
  transition: 0.28s;
  overflow: hidden;
  color: $cnx-error-label;
  font-style: $cnx-font-gotham-book;
  font-size: $cnx-content-fontsize;
  margin-right: 84px;
  text-align: left;
}	
.cnx-copyright {
  font-size: $cnx-content-fontsize;
  color: $cnx-footer-color;
  margin-top: 85px;
  margin-bottom: -110px;
}