<div class="login-container">
  <div class="login-block align-middle d-flex h-100">
    <div class="container justify-content-center align-self-center">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-4 mx-auto cnx-login-card">
          <div class="card card-signin my-5">
            <div class="card-body">
              <img class="cnx-logo" src="assets/cnx-logo.png" alt="Status" />
              <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="form-signin">
                <div class="form-group">
                  <div class="row">
                    <div class="cnx-language">
                      <label class="form-check-label "> {{ 'PROFILE_lANGUAGE' | translate: cnxLanguageService.lastUpdatedTime }}</label>
                      <div class="cnx-display" *ngIf="cnxLanguageService.lastUpdatedTime">
                        <app-cnx-language></app-cnx-language>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group cnx-login-form-field">
                  <i class="fa fa-user pr-1 cnx-login-user-icon"></i>
                  <input type="text" class="form-control" 
                    placeholder="{{ 'CNX_LGN_USERNAME_GUEST' | translate: cnxLanguageService.lastUpdatedTime }}"
                    formControlName="email" required 
                    [ngClass]="{'input-danger invalid-input': loginForm.controls.email.valid == false && isFormSubmitted }">
                    <div *ngIf = "loginForm.controls.email.valid == false && isFormSubmitted" class="cnx-requirements">
                        {{ 'CNX_SGN_VALID_EMAIL' | translate: cnxLanguageService.lastUpdatedTime }}
                    </div>
                </div>
                <div class="form-group cnx-login-form-field">
                  <i class="fa fa-lock cnx-login-user-icon"></i>
                  <input type="password" id="inputPassword" class="form-control" 
                    placeholder="{{ 'CNX_LGN_PWD' | translate: cnxLanguageService.lastUpdatedTime }}"
                    formControlName="password" required 
                    [ngClass]="{'input-danger invalid-input': loginForm.controls.password.valid == false && isFormSubmitted }">
                    <div *ngIf = "loginForm.controls.password.valid == false && isFormSubmitted" class="cnx-requirements">
                        {{ 'CNX_GST_ENTER_PWD' | translate: cnxLanguageService.lastUpdatedTime }}
                    </div>
                </div>
                <div class="row">
                  <div class="col-6 cnx-checkbox cnx-fontsize ">
                    <div class="form-group cnx-remember-me">
                      <label class="form-check-label cnx-checkbox-container">
                        <input class="form-control form-check-input" formControlName="rememberMe" type="checkbox">
                        <span class="checkmark"></span>
                        {{ 'CNX_LGN_REMEMBER' | translate: cnxLanguageService.lastUpdatedTime }}
                      </label>
                    </div>
                  </div>
                  <div class="col-6 text-info">
                    <div class="cnx-fontsize">
                      <a href="#">{{ 'CNX_GST_FORGOT_PWD' | translate: cnxLanguageService.lastUpdatedTime }}</a>
                    </div>
                  </div>
                </div>
                <div class="form-group cnx-privacy">
                  <label class="form-check-label cnx-checkbox-container">
                    <input class="form-control form-check-input" formControlName="acceptTerms" type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                  <div class="cnx-terms-privacy">
                    {{ 'LGN_AGREE' | translate: cnxLanguageService.lastUpdatedTime }}
                    <span class="cnx-terms" (click)="getTermsOfUse()"> {{ 'LGN_TERMS_OF_USE' | translate: cnxLanguageService.lastUpdatedTime }}</span>
                    {{ 'REG_AND' | translate: cnxLanguageService.lastUpdatedTime }}
                    <span class="cnx-terms" (click)="showPrivacyPolicy()">{{ 'LGN_PRIVACY_POLICY' | translate: cnxLanguageService.lastUpdatedTime }}</span>
                  </div>
                </div>
                <button class="btn btn-lg btn-primary text-uppercase cnx-login-button" type="submit">{{ 'CNX_LGN_LOGIN' | translate: cnxLanguageService.lastUpdatedTime }}</button>
              </form>
              <div class="cnx-copyright">
                <app-cnx-footer></app-cnx-footer>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

