<div class="row cnx-page-header">
  <div class="cnx-padding-zero col-12">
    <div class="cnx-card">
      <i class="fa fa-user-circle-o cnx-staff-directory-icon" aria-hidden="true"></i>
      <span class="cnx-header-title"> {{ 'CNX_HOM_BENIFITS' | translate: cnxLanguageService.lastUpdatedTime }} </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="cnx-card">
      <div class="row">
        <div class="col-2 cnx-float-left">
          <img class="cnx-list-icon img-fluid" src="../../../../../assets/images/news.png" alt="">
        </div>
        <div class="col-10 cnx-card-content cnx-float-left">
          <p class="cnx-link cnx-list-head">External ESS Link</p>
          <p class="cnx-title cnx-list-content">CES Timekeeping</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="cnx-card">
      <div class="row">
        <div class="col-2 cnx-float-left">
          <img class="cnx-list-icon img-fluid" src="../../../../../assets/images/news.png" alt="">
        </div>
        <div class="col-10 cnx-card-content cnx-float-left">
          <p class="cnx-link cnx-list-head">HROnline</p>
          <p class="cnx-title cnx-list-content">CES Timekeeping</p>
        </div>
      </div>
    </div>
  </div>
</div>
