@import '../../../../../variables';

.no-padding {
  padding: 0;
}

.cnx-page-header {
  .cnx-staff-directory-icon {
    color: $cnx-color-white;
    background-color: $cnx-menu-selfservice;
    padding: 6px;
    border-radius: 50%;
  }

  h6 {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
}

.cnx-card {
  .cnx-list-icon {
    max-width: 80%;
  }

  .cnx-card-content {
    padding: 0;

  }
}
