@import '../../../../../variables';


.cnx-page-header {
    .cnx-card {
      // max-height: 30px;
      .cnx-video-icon {
        color: $cnx-color-white;
        background-color: $cnx-menu-communication;
        padding: 6px;
        border-radius: 50%;
      }
    
      h6 {
        display: inline-block;
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
  