<div class="row cnx-page-header">
  <div class="col-12">
    <div class="cnx-card">
      <i class="fa fa-play cnx-video-icon" aria-hidden="true"></i>
      <span class="cnx-header-title">Videos</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12" *ngIf="videosData?.length > 0 || videosData !== null">
    <span *ngFor="let feeds of videosData">
      <div class="cnx-card">
        <app-videos-container [FeedType]="feeds.FeedType" [PostFeeds]="feeds.VideoDetails"></app-videos-container>
        <app-cnx-post-lcs [feedType] = "feedType" [feedDetails] = "feeds.VideoDetails"></app-cnx-post-lcs>
      </div>
    </span>
  </div>
  <div class="col-12" *ngIf="videosData?.length === 0 || videosData === null">
    <app-cnx-no-data-display [message]="messageIfNoData"></app-cnx-no-data-display>
  </div>
</div>
