@import '../../../../../variables';

.cnx-year-row {
  .cnx-year {
    display: block;
    padding: 15px;
    background: $cnx-menu-cmpinfo;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
  }

  .cnx-year-bg-blur {
    background: $cnx-menu-cmpinfo;
    opacity: 0.1;
  }
}

.cnx-month-row {
  .cnx-month {
    padding: 15px;
    background: $cnx-menu-cmpinfo;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
  }

  .cnx-days-list {
    .cnx-day-row {
      padding: 8px 0;
      .cnx-day{
          position: relative;
          padding-left: 20px;
          &::before{
            content: '';
            width: 10px;
            height: 10px;
            background: red;
            position: absolute;
            left: 0;
            top: 5px;
            border-radius: 50%;
            margin-right: 25px;

          }
      }
    }
  }
}
