<div class="container">
  <div class="row cnx-year-row mb-2">
    <div class="col-2 cnx-year">
      <span class="">2018</span>
    </div>
    <div class="col-10 cnx-year-bg-blur">
    </div>
  </div>
  <div class="row cnx-month-row mb-1">
    <div class="col-2 cnx-month">
      <span>Jan</span>
    </div>
    <div class="col-10 cnx-days-list">
      <div class="row cnx-day-row">
        <div class="col-3">
          <span class="cnx-day">01 Mon</span>
        </div>
        <div class="col-9">
          <span class="cnx-descr">New Year Day</span>
        </div>
      </div>
      <div class="row cnx-day-row">
        <div class="col-3">
          <span class="cnx-day">26 Fri</span>
        </div>
        <div class="col-9">
          <span class="cnx-descr">Republic Day</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row cnx-month-row mb-1">
    <div class="col-2 cnx-month">
      <span>May</span>
    </div>
    <div class="col-10 cnx-days-list">
      <div class="row cnx-day-row">
        <div class="col-3">
          <span class="cnx-day">01 Tue</span>
        </div>
        <div class="col-9">
          <span class="cnx-descr">May Day</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row cnx-month-row mb-1">
    <div class="col-2 cnx-month">
      <span>Aug</span>
    </div>
    <div class="col-10 cnx-days-list">
      <div class="row cnx-day-row">
        <div class="col-3">
          <span class="cnx-day">15 Wed</span>
        </div>
        <div class="col-9">
          <span class="cnx-descr">Independence Day</span>
        </div>
      </div>
      <div class="row cnx-day-row">
        <div class="col-3">
          <span class="cnx-day">22 Wed</span>
        </div>
        <div class="col-9">
          <span class="cnx-descr">Bakrid</span>
        </div>
      </div>
    </div>
  </div>
</div>
