<div class="row">
  <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center cnx-lcs-action" *ngIf="feedDetails.EnableLikes">
    <i (click)="onfaClick()" class="fa fa-heart cnx-hand-cursor" aria-hidden="true" [ngClass]="{'active': feedDetails.LikedStatus}"
      placement="top" tooltip="{{ 'LIKE' | translate: cnxLanguageService.lastUpdatedTime }}"></i>
    <span class="cnx-hand-cursor" placement="top" (click)="listLikedUsers()" tooltip="{{ 'LIKE' | translate: cnxLanguageService.lastUpdatedTime }} {{ 'COUNT' | translate: cnxLanguageService.lastUpdatedTime }}">
      {{feedDetails.LikesCount}}</span>
  </div> -->
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center cnx-lcs-action" *ngIf="feedDetails.EnableLikes">
      <i class="fa fa-heart cnx-hand-cursor" aria-hidden="true" [ngClass]="{'active': feedDetails.LikedStatus}"
        placement="top" tooltip="{{ 'LIKE' | translate: cnxLanguageService.lastUpdatedTime }}"></i>
      <span class="cnx-hand-cursor" placement="top" tooltip="{{ 'LIKE' | translate: cnxLanguageService.lastUpdatedTime }} {{ 'COUNT' | translate: cnxLanguageService.lastUpdatedTime }}">
        {{feedDetails.LikesCount}}</span>
    </div>
</div>
