<!-- <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 px-0 cnx-default-bottom">
    <app-cnx-search [placeholderText]="searchPlaceholder" (emitSearchText) = "searchEventReceiver($event)"></app-cnx-search>
</div> -->
<!-- /* *ngIf="feedData?.length > 0" */ -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0" *ngIf="feedData?.length > 0"   
infinite-scroll
[infiniteScrollDistance]="scrollDistance"
[infiniteScrollUpDistance]="scrollUpDistance"
[infiniteScrollThrottle]="throttle"
(scrolled)="getFeedDataFromSCroll()">
     <span *ngFor="let feeds of feedData">
         <div class="cnx-card" *ngIf="!(feeds.FeedType == postTypes.CNC_BirthAnniversary || feeds.FeedType == postTypes.CNC_WorkAnniversary)">
             <app-checkin-container *ngIf="feeds.FeedType == postTypes.CNC_CheckIn" [FeedType] = "feeds.FeedType"   [PostFeeds] = "feeds.CheckInDetails" ></app-checkin-container>
             <app-news-container    *ngIf="feeds.FeedType == postTypes.CNC_NEWS"    [FeedType] = "feeds.FeedType"   [PostFeeds] = "feeds.NewsDetails"></app-news-container> 
             <app-image-container   *ngIf="feeds.FeedType == postTypes.CNC_Image"   [FeedType] = "feeds.FeedType"   [PostFeeds] = "feeds.ImageDetails"></app-image-container> 
             <app-urls-container    *ngIf="feeds.FeedType == postTypes.CNC_URL"     [FeedType] = "feeds.FeedType"   [PostFeeds] = "feeds.URLDetails"></app-urls-container> 
             <app-polls-container   *ngIf="feeds.FeedType == postTypes.CNC_POLLS"   [FeedType] = "feeds.FeedType"   [PostFeeds] = "feeds.PollDetails"></app-polls-container> 
             <app-videos-container  *ngIf="feeds.FeedType == postTypes.CNC_Video"   [FeedType] = "feeds.FeedType"   [PostFeeds] = "feeds.VideoDetails"></app-videos-container>
             <app-alert-container   *ngIf="feeds.FeedType == postTypes.CNC_Alert"   [FeedType] = "feeds.FeedType"   [PostFeeds] = "feeds.AlertDetails"></app-alert-container>
             <app-anniversary-container    *ngIf="feeds.FeedType == postTypes.CNC_BirthAnniversary || feeds.FeedType == postTypes.CNC_WorkAnniversary"    [FeedType] = "feeds.FeedType"   [PostFeeds] = "feeds.WishDetails"></app-anniversary-container> 
             <app-cnx-post-lcs *ngIf="feeds.FeedType == postTypes.CNC_CheckIn" [feedType] = "feeds.FeedType"   [feedDetails] = "feeds.CheckInDetails"></app-cnx-post-lcs>
             <app-cnx-post-lcs *ngIf="feeds.FeedType == postTypes.CNC_NEWS"    [feedType] = "feeds.FeedType"   [feedDetails] = "feeds.NewsDetails"></app-cnx-post-lcs>
             <app-cnx-post-lcs *ngIf="feeds.FeedType == postTypes.CNC_Image"   [feedType] = "feeds.FeedType"   [feedDetails] = "feeds.ImageDetails"></app-cnx-post-lcs>
             <app-cnx-post-lcs *ngIf="feeds.FeedType == postTypes.CNC_URL"     [feedType] = "feeds.FeedType"   [feedDetails] = "feeds.URLDetails"></app-cnx-post-lcs>
             <app-cnx-post-lcs *ngIf="feeds.FeedType == postTypes.CNC_POLLS"   [feedType] = "feeds.FeedType"   [feedDetails] = "feeds.PollDetails"></app-cnx-post-lcs>
             <app-cnx-post-lcs *ngIf="feeds.FeedType == postTypes.CNC_Video"   [feedType] = "feeds.FeedType"   [feedDetails] = "feeds.VideoDetails"></app-cnx-post-lcs>
             <app-cnx-post-lcs *ngIf="feeds.FeedType == postTypes.CNC_BirthAnniversary || feeds.FeedType == postTypes.CNC_WorkAnniversary"   [feedType] = "feeds.FeedType"   [feedDetails] = "feeds.WishDetails"></app-cnx-post-lcs>
         </div>
    </span> 
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="feedData?.length <= 0" > {{ '100006' | translate: cnxLanguageService.lastUpdatedTime }} </div>  <!-- *ngIf="feedData?.length <= 0"  loader -->