<div class="row cnx-margin-zero cnx-margin-bottom-10">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-alert-div">
   <div class="row cnx-margin-zero cnx-padding-10 cnx-font-size">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
        <h5 class="cnx-bold-text cnx-timeline-title">
            <!-- <img class="cnx-user-image cnx-un-read-icon" [src]="getDefaultIcon('CNX_ALERT')">&nbsp; -->
            <span *ngIf="PostFeeds.IsMessageRead == false" class="cnx-new-status-label">{{ 'NEW' | translate : cnxLanguageService.lastUpdatedTime}}</span>
            <span class="cnx-alert-title"> {{PostFeeds.Subject}}</span>
        </h5>
        <span class="cnx-post-share-time"> <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{PostFeeds.MessageDate | translatedate : cnxLanguageService.lastUpdatedTime}}</span> <br>
        <span>{{PostFeeds.MessageContent}}</span>
    </div>
   </div>
 </div>  
</div>

