<div class="row cnx-page-header">
  <div class="cnx-padding-zero col-12">
    <div class="cnx-card">
      <i class="fa fa-user-circle-o staff-directory-icon" aria-hidden="true"></i>
      <span class="cnx-header-title">New Joinee</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 cnx-default-bottom">
    <div class="col-11 pl-0 float-left">
      <app-cnx-search [placeholderText]="searchPlaceholder" (emitSearchText) = "searchEventReceiver($event)"></app-cnx-search>
    </div>
    <div class="col-1 float-left no-padding">
      <i class="fa fa-filter cnx-filter-icon float-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 cnx-card-container">
    <div class="cnx-card">
      <div class="row">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-9 card-content float-left">
            <p class="name">Aishwarya</p>
            <p class="desig">Advisor: Customer Service, Banking</p>
            <p class="dept">0101-OPERATIONS-DIR</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cnx-card">
      <div class="row">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-9 card-content float-left">
            <p class="name">Ramnivas Kumar</p>
            <p class="desig">Advisor: Customer Service, Banking</p>
            <p class="dept">0101-OPERATIONS-DIR</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cnx-card">
      <div class="row">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-9 card-content float-left">
            <p class="name">Concentrix Four</p>
            <p class="desig">Advisor: Customer Service, Banking</p>
            <p class="dept">0101-OPERATIONS-DIR</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cnx-card">
      <div class="row">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-9 card-content float-left">
            <p class="name">Ramnivas Kumar</p>
            <p class="desig">Advisor: Customer Service, Banking</p>
            <p class="dept">0101-OPERATIONS-DIR</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cnx-card">
      <div class="row">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-9 card-content float-left">
            <p class="name">Concentrix Four</p>
            <p class="desig">Advisor: Customer Service, Banking</p>
            <p class="dept">0101-OPERATIONS-DIR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
