@import '../../../../../variables';

.no-padding {
  padding: 0;
}

.cnx-page-header {
  // padding: 15px 0;

  .staff-directory-icon {
    color: $cnx-color-white;
    background-color: $cnx-menu-selfservice;
    padding: 6px;
    border-radius: 50%;
  }

  h6 {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
}

.cnx-filter-icon {
  padding: 8px 10px;
  background: $cnx-ship-cove;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
}

.cnx-card-container {
  // margin-top: 20px;

  .cnx-card {

    .profile-pic-container {
      padding-left: 0;

      img.profile-pic {
        width: 100%;
      }
    }

    .card-content {
      padding: 0;

      p {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: bold;
      }

      .name {
        margin-bottom: 5px;
      }

      .desig {
        color: $cnx-fountain-blue;
      }

      .dept {
        font-weight: normal;
      }
    }
  }

}
