<!-- Author: TSPL-T0445 Created Date: 12 Sept 2018 -->
<div class="cnx-user-list-card item item-avatar">
        <div class="row">
            
            <app-cnx-user-image [profileImageUrl]= "userDetails.ProfileImageUrl" (click)="getUserProfile()"></app-cnx-user-image>
            
            <div>
                <div class="cnx-user-data">
                    <p class="cnx-user-name cnx-hand-cursor" (click)="getUserProfile()">
                        {{ userDetails.FullName }}
                    </p>
                    <p class="cnx-user-designation"> {{ userDetails.Designation }} </p>
                    <p class="cnx-action-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ userDetails.SharedOn | translatedate : cnxLanguageService.lastUpdatedTime }} </p>
                </div>
            </div>
        </div>
        
      </div>
      