<div class="cnx-topcopyright">
  {{ 'LEGAL_INFORMATION' | translate: cnxLanguageService.lastUpdatedTime }}  | {{ 'LGN_PRIVACY_POLICY' | translate: cnxLanguageService.lastUpdatedTime }} | {{ 'GDPR' | translate: cnxLanguageService.lastUpdatedTime }}
</div>
<div class="cnx-downcopyright">
    &copy;{{ 'CNX_COPY_RIGHT' | translate: cnxLanguageService.lastUpdatedTime }}
</div>
