<div class="row">
  <div class="col-12">
    <div class="cnx-card">
      <div class="row cnx-basic-top-section m-1">
        <div class="col-3 cnx-float-left">
          <app-cnx-user-image [profileImageUrl]="profileImageUrl" [containerClass]="'cnx-profile-image'"></app-cnx-user-image>
        </div>
        <div class="col-9 cnx-float-left">
          <p class="cnx-name">Concentrix One</p>
          <div class="cnx-section cnx-profile-data">
            <p class="cnx-emp-id">EMP ID: 50137144</p>
            <p class="cnx-design">Manager | Software Engineering</p>
          </div>
          <div class="cnx-section cnx-profile-data">
            <p class="cnx-dept">0702-APPLICATION_DEV</p>
            <p class="cnx-place">Quezon City, Phillippines</p>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-3">
                <button type="button" class="btn cnx-profile-button cnx-add-friend"><i class="fa fa-user-plus mr-1" aria-hidden="true"></i>Add Friend</button>               
            </div>
            <div class="col-3">
                <button type="button" class="btn cnx-profile-button cnx-add-kudos"><i class="fa fa-thumbs-up  mr-1" aria-hidden="true"></i> Add Kudos</button>                
            </div>
            <div class="col-4">
                <button type="button" class="btn cnx-profile-button cnx-report-abuse"><i class="fa fa-thumbs-down  mr-1" aria-hidden="true"></i>Report Abuse</button> 
            </div>
          </div>                          
        </div>
      </div>
      <hr class="cnx-profile-hr-style"/>
      <div class="row cnx-basic-bottom-section m-1">
        <div class="col-12">
          <div class="row">
            <div class="col-1 cnx-content-icon">
              <i class="fa fa-phone cnx-fa" aria-hidden="true"></i>
            </div>
            <div class="col-11 pl-0">
              91 7595835590
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-1 cnx-content-icon">
              <i class="fa fa-envelope cnx-fa" aria-hidden="true"></i>
            </div>
            <div class="col-11 pl-0">
              concentrix.one@concentrix.com
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-1 cnx-content-icon">
              <i class="fa fa-map-marker cnx-fa" aria-hidden="true"></i>
            </div>
            <div class="col-11 pl-0">
              91 7595835590
            </div>
          </div>
        </div>
      </div>
      <hr class="cnx-profile-hr-style"/>
      <div class="row mx-1 my-2 cnx-manager">
        <div class="col-12">
          <div class="row">
            <div class="col-1 cnx-manager-icon">
              <i class="fa fa-user-circle-o cnx-fa" aria-hidden="true"></i>
            </div>
            <div class="col-11 cnx-manager-title pl-0">
              Manager
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row mt-2">
            <div class="col-2 cnx-float-left">
              <app-cnx-user-image [profileImageUrl]="profileImageUrl" [containerClass]=""></app-cnx-user-image>
            </div>
            <div class="col-10 pl-0">
              <div class="row">
                <div class="col-12 cnx-maganger-name cnx-profile-data">
                  Keshava Murthy
                </div>
                <div class="col-12">
                  Team Leader, Opertaions CRM
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-1 my-2 cnx-colleagues">
        <div class="col-12">
          <div class="row mt-2">
            <div class="col-1 cnx-colleage-icon">
              <i class="fa fa-users cnx-fa" aria-hidden="true"></i>
            </div>
            <div class="col-7 cnx-colleage-title pl-0">
              Colleagues
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row mt-2">
            <div class="col-2 cnx-float-left">
              <app-cnx-user-image [profileImageUrl]="" [containerClass]=""></app-cnx-user-image>
            </div>
            <div class="col-10 pl-0">
              <div class="row ">
                <div class="col-12 cnx-colleage-name">
                  Concentrix One
                </div>
                <div class="col-12">
                  Team Member, Opertaions CRM
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-2 cnx-float-left">
              <app-cnx-user-image [profileImageUrl]="" [containerClass]=""></app-cnx-user-image>
            </div>
            <div class="col-10 pl-0">
              <div class="row ">
                <div class="col-12 cnx-colleage-name">
                  Concentrix Two
                </div>
                <div class="col-12">
                  Team Member, Opertaions CRM
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 cnx-colleage-count cnx-more-count">
          + 17 more...
        </div>
      </div>
    </div>
  </div>
</div>
