@import '../../../../../variables';

.no-padding {
  padding: 0;
}


.cnx-card {
  font-size: 14px;
  .cnx-profile-data {
    font-size: 15px;
  }
  .cnx-profile-button{
    padding: 2px 4px;
    font-size: 14px;
    color:$cnx-color-white;
    &:focus{
      box-shadow:none;
    }
  }
  .cnx-add-friend{
    background:$cnx-button-green;
  }
  .cnx-add-kudos{
    background:$cnx-button-blue;
  }
  .cnx-report-abuse{
    background:$cnx-button-red;
  }
  .cnx-basic-top-section {
    // margin: 20px 0 25px 0;
    // position: relative;

    // .profile-pic-container {
    //   padding-left: 0;
    //   height: 100%;

    //   img.profile-pic {
    //     width: 85%;
    //     border-radius: 50%;
    //     border: 2px solid $cnx-ship-cove;
    //     margin: 0;
    //     position: absolute;
    //     top: 50%;
    //     -webkit-transform: translateY(-50%);
    //     transform: translateY(-50%);
    //   }
    // }
    .cnx-section {
      margin-bottom: 15px;
    }

    .cnx-name,
    .cnx-emp-id,
    .cnx-design,
    .cnx-dept,
    .cnx-place {
      margin-bottom: 5px;
    }

    .cnx-name,
    .cnx-emp-id {
      font-weight: bold;
    }

    .cnx-emp-id,
    .cnx-design,
    .cnx-dept,
    .cnx-place {
      line-height: 1;
    }

    .cnx-name {
      color: $cnx-profile-name;
      font-size: 20px;
    }

    .cnx-emp-id {
      color: $cnx-active-tab-color;
    }
  }
  
  .cnx-basic-bottom-section {
    .cnx-content-icon {
      .cnx-fa {
        font-size: 16px;
        color: $cnx-icon-label;
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
  }
.cnx-manager{
  
  .cnx-fa{
    color: $cnx-active-tab-color;
    font-size: 17px;
  }
  .cnx-manager-title,
  .cnx-maganger-name{
    font-weight: 600;
  }
}
.cnx-colleagues{
  
  .cnx-fa,
  .cnx-colleage-count{
    color: $cnx-active-tab-color;
    font-weight: bold;
  }
  .cnx-colleage-title,
  .cnx-colleage-name{
    font-weight: 600;
  }
  .cnx-fa{
    font-size: 17px;
  }
}
  &.my-profile-sub-card {
    .header {
      padding: 8px 0;
      border-bottom: 1px solid $cnx-body-background-color;
      margin-bottom: 10px;

      .title {
        color: $cnx-ship-cove;
        font-weight: bold;
        font-size: 17px;
      }

      .edit-link {
        color: $cnx-ship-cove;
        text-decoration: underline;
        width: auto;
        font-size: 14px;
      }
    }
  }

}
