<div class="row cnx-page-header">
  <div class="cnx-padding-zero col-12">
    <div class="cnx-card">
      <i class="fa fa-user-circle-o staff-directory-icon" aria-hidden="true"></i>
      <span class="cnx-header-title">Useful Apps</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="cnx-card">
      <div class="row">
        <div class="col-2 cnx-float-left">
          <img class="cnx-list-icon img-fluid" src="../../../../../assets/images/news.png" alt="">
        </div>
        <div class="col-10 cnx-card-content cnx-float-left">
          <p class="cnx-link cnx-list-head">Aishwarya</p>
          <p class="cnx-title cnx-list-content">Advisor: Customer Service, Banking</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="cnx-card">
      <div class="row">
        <div class="col-2 cnx-float-left">
          <img class="cnx-list-icon img-fluid" src="../../../../../assets/images/news.png" alt="">
        </div>
        <div class="col-10 cnx-card-content cnx-float-left">
          <p class="cnx-link cnx-list-head">Ramnivas Kumar</p>
          <p class="cnx-title cnx-list-content">Advisor: Customer Service, Banking</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="cnx-card">
      <div class="row">
        <div class="col-2 cnx-float-left">
          <img class="cnx-list-icon img-fluid" src="../../../../../assets/images/news.png" alt="">
        </div>
        <div class="col-10 cnx-card-content cnx-float-left">
          <p class="cnx-link cnx-list-head">Concentrix Four</p>
          <p class="cnx-title cnx-list-content">Advisor: Customer Service, Banking</p>
        </div>
      </div>
    </div>
  </div>
</div>

