<!-- <div class="container cnx-quickmenu">
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 px-0 cnx-text-align-auto">
      <div class="cnx-home-div cnx-display-inline-block">
        <i class="fa fa-home fa-3 cnx-home-icon cnx-hand-cursor" aria-hidden="true" (click)="goToHome()"></i>
      </div>
      <div class="cnx-menu-div cnx-display-inline-block">
        <div *ngFor='let menuOption of menuOptions; let menuIndex = index' class="cnx-menu-item cnx-color-grey cnx-hand-cursor" [ngClass]="{'cnx-menu-item-border': menuIndex }"
        (click)="goToQuickMenu(menuOption)">
          <app-cnx-dashboard-menu-items [option]="menuOption"></app-cnx-dashboard-menu-items>
        </div>
      </div>
    </div>
  </div>
</div> -->

<ul class="navbar-nav mr-auto mt-2 mt-lg-0 cnx-menu-div">
  <li class="nav-item cnx-menu-item cnx-color-grey cnx-hand-cursor" (click)="goToHome()">
    <a class="nav-link"> <i class="fa fa-home cnx-menu-icon" aria-hidden="true" ></i> Home </a>
  </li>
  <li *ngFor='let menuOption of menuOptions; let menuIndex = index' class="nav-item cnx-menu-item cnx-color-grey cnx-hand-cursor"
    (click)="goToQuickMenu(menuOption)">
    <a class="nav-link">
      <app-cnx-dashboard-menu-items [option]="menuOption"></app-cnx-dashboard-menu-items>
    </a>
  </li>
</ul>
