
@import '../../../../../variables';
.cnx-quickmenu{
  .cnx-home-div{
    .fa{
        font-size: 19px;
      }
    margin-right: 10px; 
    .cnx-home-icon {
      background: $cnx-home-icon-background;
      padding:6px 7px;
      border-radius: 50%;
      color: $cnx-color-white;
      
    }
  }
  .cnx-menu-div{
    background: $cnx-color-white;
    border-radius: 5px;
    padding: 2px;
    .cnx-menu-item{
      background: $cnx-color-white;
      padding: 4px 10px;
      font-size: 13px; 
      display: inline-block;   
    }
    .cnx-menu-icon{
      font-size: 18px;     
    }
    .cnx-menu-item-border{
      border-left: 1px solid $cnx-border-grey;
    }
  }
  
}
.cnx-menu-div{
  border-radius: 5px;
  padding: 2px;
  .cnx-menu-item{
    font-size: 13px; 
  }
  .cnx-menu-icon{
    font-size: 18px;     
  }
  .cnx-menu-item-border{
    border-left: 1px solid $cnx-border-grey;
  }
}




