<div class="container">
  <div class="modal-header">
    <img src="{{image}}" alt="" class="pr-2 pl-1">
    <h4 class="modal-title pull-left">{{ header | translate: cnxLanguageService.lastUpdatedTime }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="close-button">&times;</span>
    </button>
  </div>
  <div class="modal-body cnx-popup-container">
    <div class="col-12" [innerHTML]="htmlData"></div>
    <div class="cnx-popup-link text-center"><a href="#" (click)="toggleContent()"><u>{{ link | translate:
          cnxLanguageService.lastUpdatedTime }}</u></a></div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{ 'QUIZ_CLOSE' | translate:
      cnxLanguageService.lastUpdatedTime }}</button>
  </div>
</div>
