@import '../../../../../_variables.scss';

.container {
  .cnx-popup-container {
    max-height: 500px;
    overflow-y: auto;

    .cnx-popup-link {
      cursor: pointer;
    }
  }

  .btn {
    background-color: $cnx-login-btn;
    border: 1px solid transparent;
    border-radius: 25px;
    min-height: 30px;
    line-height: 25px;
    width: 90px;
    font-size: 15px;
    font-weight: 700;
    color: $cnx-color-white;
  }

  .modal-title {
    color: $cnx-login-btn;
    font-weight: 700;
    font-size: 22px;
  }

  .close {
    color: $cnx-login-btn;
    text-shadow: 0 1px 0 $cnx-login-btn;
    opacity: 1.5;
  }

  .close-button {
    color: $cnx-login-btn;
  }
}
