<div class="row cnx-post-lcs-panel">
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 cnx-float-left" *ngIf="feedDetails.EnableLikes">
      <app-cnx-like [feedDetails]='feedDetails' [feedType]='feedType'></app-cnx-like>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xl-4 cnx-float-left" *ngIf="feedDetails.EnableComments">
      <app-cnx-comment [feedDetails]='feedDetails' [feedType]='feedType'></app-cnx-comment>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 cnx-float-left" *ngIf="feedDetails.AllowShare">
      <app-cnx-share [feedDetails]='feedDetails' [feedType]='feedType'></app-cnx-share>
  </div>
</div> 