<!-- Author: TSPL-T0445 Created Date: 04 Sept 2018 -->
<div class="row">
  <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center cnx-lcs-action" *ngIf="feedDetails.EnableLikes">
    <i (click)="shareContent()" class="fa fa-share cnx-hand-cursor" aria-hidden="true" placement="top" tooltip="{{ 'SHARE' | translate: cnxLanguageService.lastUpdatedTime }}"></i>
    <span class="cnx-hand-cursor" (click)="listSharedUsers()" placement="top" tooltip="{{ 'SHARE' | translate: cnxLanguageService.lastUpdatedTime }} {{ 'COUNT' | translate: cnxLanguageService.lastUpdatedTime }}">
      {{feedDetails.SharedCount}}</span>
  </div> -->
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center cnx-lcs-action" *ngIf="feedDetails.EnableLikes">
    <i class="fa fa-share cnx-hand-cursor" aria-hidden="true" placement="top" tooltip="{{ 'SHARE' | translate: cnxLanguageService.lastUpdatedTime }}"></i>
    <span class="cnx-hand-cursor" placement="top" tooltip="{{ 'SHARE' | translate: cnxLanguageService.lastUpdatedTime }} {{ 'COUNT' | translate: cnxLanguageService.lastUpdatedTime }}">
      {{feedDetails.SharedCount}}</span>
  </div>
</div>
