<div class="">
  
        <h5 class="modal-title pull-left">
           <i class="fa fa-commenting cnx-title-icon"></i> 
          <span class="cnx-modal-title-text"> 
              {{ 'COMMENT_LIST' | translate: cnxLanguageService.lastUpdatedTime }}
          </span>  
         
        </h5>
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="commentModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
       <div *ngIf="feedDetails.CommentsCount > 0"  class="modal-body cnx-model-scroll-div"
        infinite-scroll 
        [infiniteScrollDistance]="scrollDistance" 
        [infiniteScrollThrottle]="throttle" [scrollWindow]="false" (scrolled)="getCommentList()">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <span *ngFor="let commentItem of commentList">
                  <app-cnx-comment-list [commentItem] = "commentItem"></app-cnx-comment-list>
              </span>
          </div>
      </div>
      <!-- Loading  -->
      <span *ngIf="lodingStatus" class="cnx-lcs-model-text cnx-margin-50-perc"> 
            <i class="fa fa-circle-o-notch fa-spin cnx-modal-loader" style="font-size:24px;"></i>
        </span> 
      <!-- Ends -->
    <!-- </div>  -->
    
    <!-- No Comments -->
    <div class="modal-body" *ngIf="commentList?.length == 0 && !lodingStatus">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cnx-lcs-model-text cnx-text-align-center">
            {{ 'NO_COMMENTS_AVAILABLE' | translate: cnxLanguageService.lastUpdatedTime }}
          </div>
      </div>
    </div>
    <!-- Ends -->
    
      <div class="modal-footer">
         <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()" novalidate class="form cnx-width-100-per">
          <div class="row"> 
            <div class="col-12 cnx-margin-bottom-10">
              <textarea class="cnx-focus-disable form-control cnx-lcs-model-text cnx-form-control"  style="border-radius:25px" rows="1" formControlName="comment" type="text"  
              maxlength="{{descriptionMaxLength}}" placeholder="{{'VIDEO_ADD_COMMENT'| translate: cnxLanguageService.lastUpdatedTime }}"></textarea>
              <label class="pull-right cnx-font-10px"> {{ commentForm.controls['comment'].value.length }} / {{ descriptionMaxLength }}</label>
            </div>
            <div class="col-12 cnx-margin-bottom-10">
                <div *ngIf="commentForm.status=='INVALID' && submitted" class="cnx-error-msg">
                  <div [hidden]="!commentForm.controls['comment'].errors.required">
                    {{ 'COMMENT' | translate: cnxLanguageService.lastUpdatedTime }} {{ 'IS' | translate: cnxLanguageService.lastUpdatedTime }} {{ 'REQUIRED' | translate: cnxLanguageService.lastUpdatedTime }}.
                  </div>
                </div>
            </div>     
            <div class="col-12 cnx-margin-bottom-10">
              <button type="submit" class="pull-right cnx-btn-round">{{ 'INCIDENT_SUBMIT' | translate: cnxLanguageService.lastUpdatedTime }}</button>
            </div>
          </div>     
        </form>
      </div>
    