<div class="row cnx-page-header">
  <div class="cnx-padding-zero col-12">
    <i class="fa fa-user-circle-o staff-directory-icon" aria-hidden="true"></i>
    <span class="cnx-header-title" >HR Online</span>
  </div>
</div>
<div class="row">
  <div class="col-12 cnx-card-container">
    <div class="cnx-card">
      <div class="row card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/Staff/flag.png" alt="">
          </div>
          <div class="col-10 card-content float-left">
            <p class="name">HrOnline</p>
            <p class="date">20/07/2018</p>
            <p class="category">CNX EVENTS</p>
            <p class="descr">cnx-description</p>
          </div>
        </div>
      </div>
      <div class="row card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/Staff/friends.png" alt="">
          </div>
          <div class="col-10 card-content float-left">
            <p class="name">cnx-title</p>
            <p class="date">20/07/2018</p>
            <p class="category">CNX EVENTS</p>
            <p class="descr">cnx-description</p>
          </div>
        </div>
      </div>
      <div class="row card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/news.png" alt="">
          </div>
          <div class="col-10 card-content float-left">
            <p class="name">Test</p>
            <p class="date">20/07/2018</p>
            <p class="category">CNX EVENTS</p>
            <p class="descr">cnx-description</p>
          </div>
        </div>
      </div>
      <div class="row card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/poll.png" alt="">
          </div>
          <div class="col-10 card-content float-left">
            <p class="name">test hronline content</p>
            <p class="date">20/07/2018</p>
            <p class="category">CNX EVENTS</p>
            <p class="descr">test hronline</p>
          </div>
        </div>
      </div>
      <div class="row card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-10 card-content float-left">
            <p class="name">Belgian Waffle</p>
            <p class="date">20/07/2018</p>
            <p class="category">CNX EXCLUSIVES</p>
            <p class="descr">Famous Belgian Wafflies is offering cnx-description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
