@import '../../../../../variables';

.cnx-page-header {
  //padding: 15px 0;

  .staff-directory-icon {
    color: $cnx-color-white;
    background-color: $cnx-menu-selfservice;
    padding: 6px;
    border-radius: 50%;
  }

  h6 {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
}

.cnx-card-container {
  
  .cnx-card {

    .card-item {
      padding: 15px 0;
      border-bottom: 2px solid $cnx-body-background-color;

      &:last-child {
        margin-bottom: 10px;
      }

      &:first-child {
        padding-top: 5px;
      }
    }

    .profile-pic-container {
      padding-left: 0;

      img.profile-pic {
        width: 100%;
      }
    }

    .card-content {
      padding: 0;

      p {
        margin-bottom: 0;
        font-size: 15px;

        &.name {
          font-weight: bold;
        }

        &.date {
          color: $cnx-fountain-blue;
        }
      }
    }
  }

}
