@import '../_variables.scss';

.cnx-sample {
    color: $cnx-icon-label;
}

.header {
    background-color: #ffffff;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    height: 40px;
    
}
header .headerAlignDiv{
	display: table-cell;
	vertical-align: middle;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    text-align: center;
}

.container .Container {
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    height: auto;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
container .Middle{
	overflow: auto;
	height: auto;
	padding: .5rem;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}
