<form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()" class="form">
  <div class="row">
    <div class="input-group col-12 cnx-search-input-group">
      <input class="form-control" type="search" formControlName="searchText" placeholder="{{placeholderText}}"
        id="cnx-search-input">
      <span class="input-group-append">
        <button class="btn" type="submit">
          <i class="fa fa-search cnx-search-icon"></i>
        </button>
      </span>
    </div>
  </div>
</form>
