<div class="cnx-left-sidebar">
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-cnx-user-image [profileImageUrl]= "userDetails?.ProfileImageUrl" [containerClass]="'cnx-profile-image'"></app-cnx-user-image>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <p class="cnx-user-name"> {{userDetails?.FirstName}} {{userDetails?.LastName}} </p>
    </div> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cnx-menu-main-option" *ngFor="let menuOption of menuOptions">
            <app-cnx-menu-item [option]="menuOption" [optionType]="'main'" class="cnx-menu-main-option"></app-cnx-menu-item>
        </div>
    </div>
</div>