@import '../../../../../variables';

.cnx-page-header {

  .staff-directory-icon {
    color: $cnx-color-white;
    background-color: $cnx-menu-selfservice;
    padding: 6px;
    border-radius: 50%;
  }

  h6 {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
}


.cnx-card-multiple-items {

  .cnx-card-item {

    .cnx-card-content {

      .dept {
        font-size: 12px;
      }
    }
  }

}
