<div class="row cnx-page-header">
  <div class="cnx-padding-zero col-12">
    <div class="cnx-card">
      <i class="fa fa-user-circle-o staff-directory-icon" aria-hidden="true"></i>
      <span class="cnx-header-title">My Team</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 cnx-card-container">
    <div class="cnx-card cnx-card-multiple-items">
      <h6 class="cnx-card-title cnx-list-head">Manager</h6>
      <div class="row cnx-card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-10 cnx-card-content float-left">
            <p class="cnx-card-item-title cnx-list-head">Aishwarya</p>
            <p class="cnx-card-item-content mb-0">Manager II, Software Engineering</p>
            <p class="dept mb-0">0702-APPLICATION_DEV</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cnx-card cnx-card-multiple-items">
      <h6 class="cnx-card-title cnx-list-head">Colleagues</h6>
      <div class="row cnx-card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-10 cnx-card-content float-left">
            <p class="cnx-card-item-title cnx-list-head">Aishwarya</p>
            <p class="cnx-card-item-content mb-0">Manager II, Software Engineering</p>
            <p class="dept mb-0">0702-APPLICATION_DEV</p>
          </div>
        </div>
      </div>
      <div class="row cnx-card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-10 cnx-card-content float-left">
            <p class="cnx-card-item-title cnx-list-head">Aishwarya</p>
            <p class="cnx-card-item-content mb-0">Manager II, Software Engineering</p>
            <p class="dept mb-0">0702-APPLICATION_DEV</p>
          </div>
        </div>
      </div>
      <div class="row cnx-card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-10 cnx-card-content float-left">
            <p class="cnx-card-item-title cnx-list-head">Aishwarya</p>
            <p class="cnx-card-item-content mb-0">Manager II, Software Engineering</p>
            <p class="dept mb-0">0702-APPLICATION_DEV</p>
          </div>
        </div>
      </div>
      <div class="row cnx-card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-10 cnx-card-content float-left">
            <p class="cnx-card-item-title cnx-list-head">Aishwarya</p>
            <p class="cnx-card-item-content mb-0">Manager II, Software Engineering</p>
            <p class="dept mb-0">0702-APPLICATION_DEV</p>
          </div>
        </div>
      </div>
      <div class="row cnx-card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-10 cnx-card-content float-left">
            <p class="cnx-card-item-title cnx-list-head">Aishwarya</p>
            <p class="cnx-card-item-content mb-0">Manager II, Software Engineering</p>
            <p class="dept mb-0">0702-APPLICATION_DEV</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cnx-card cnx-card-multiple-items">
      <h6 class="cnx-card-title cnx-list-head">Reportees</h6>
      <div class="row cnx-card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-10 cnx-card-content float-left">
            <p class="cnx-card-item-title cnx-list-head">Aishwarya</p>
            <p class="cnx-card-item-content mb-0">Manager II, Software Engineering</p>
            <p class="dept mb-0">0702-APPLICATION_DEV</p>
          </div>
        </div>
      </div>
      <div class="row cnx-card-item">
        <div class="col-12">
          <div class="col-2 profile-pic-container float-left">
            <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
          </div>
          <div class="col-10 cnx-card-content float-left">
            <p class="cnx-card-item-title cnx-list-head">Aishwarya</p>
            <p class="cnx-card-item-content mb-0">Manager II, Software Engineering</p>
            <p class="dept mb-0">0702-APPLICATION_DEV</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
