<form [formGroup]="cnxLanguageForm" class="form-group">
  <select class="form-control " formControlName="selectedLanguage" (change)="onLanguageSelect()">
    <option [ngValue]="language" *ngFor="let language of availableLanguages">{{language.LanguageName}}</option>
  </select>
 </form>