@import '../../../../../variables';

.cnx-width-auto{
    width: auto;
}

.cnx-page-header {
  //padding: 15px 0;

  .staff-directory-icon {
    color: $cnx-color-white;
    background-color: $cnx-menu-selfservice;
    padding: 6px;
    border-radius: 50%;
  }

  h6 {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
}

ul.nav {
  padding-left: 15px;

  li {
    padding: 4px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: $cnx-color-white;
    font-weight: bold;
    border-right: 1px solid $cnx-body-background-color;

    &:last-child {
      border: 0;
    }

    &.active {
      border-bottom: 5px solid $cnx-menu-profile;
    }
  }
}

.cnx-card-container {

  .cnx-card {

    .profile-pic-container {
      padding-left: 0;

      img.profile-pic {
        width: 100%;
      }
    }

    .card-content {
      padding: 0;

      p {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: bold;
      }

      .name {
        margin-bottom: 5px;
      }

      .desig {
        color: $cnx-fountain-blue;
      }

      .dept {
        font-weight: normal;
      }
    }

    .friends-action-container {
      margin-top: 15px;
      border-top: 3px solid #f2f3f5;
      padding-top: 10px;

      .friends-action {
        color: $cnx-input-font-color;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }

}
