<div class="row cnx-page-header">
  <div class="cnx-padding-zero col-12">
    <div class="cnx-card">
      <i class="fa fa-user-circle-o staff-directory-icon" aria-hidden="true"></i>
      <span class="cnx-header-title">Friends</span>
    </div>
  </div>
</div>
<div class="row">
  <ul class="nav col-12" role="tablist">
    <li class="col-4" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Friends</li>
    <li class="col-4" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">Requests</li>
    <li class="col-4" [class.active]="viewMode == 'tab3'" rel="tab2" (click)="viewMode ='tab3'">Sent Requests</li>
  </ul>
</div>
<div [ngSwitch]="viewMode">
  <div id="tab1" *ngSwitchCase="'tab1'">
    <div class="row">
      <div class="col-12 cnx-card-container">
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Aishwarya</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="col-3 float-right">
                <a href="#" class="float-right friends-action">Unfriend</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Ramnivas Kumar</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="col-3 float-right">
                <a href="#" class="float-right friends-action">Unfriend</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Concentrix Four</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="col-3 float-right">
                <a href="#" class="float-right friends-action">Unfriend</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Ramnivas Kumar</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="col-3 float-right">
                <a href="#" class="float-right friends-action">Unfriend</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Concentrix Four</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="col-3 float-right">
                <a href="#" class="float-right friends-action">Unfriend</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tab2" *ngSwitchCase="'tab2'">
    <div class="row">
      <div class="col-12 cnx-card-container">
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Aishwarya</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="float-right clearfix">
                <div class="col-6 float-left cnx-width-auto">
                  <a href="#" class="float-right friends-action">Accept</a>
                </div>
                <div class="col-6 float-left cnx-width-auto">
                  <a href="#" class="float-right friends-action">Decline</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Ramnivas Kumar</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="float-right clearfix">
                <div class="col-6 float-left cnx-width-auto">
                  <a href="#" class="float-right friends-action">Accept</a>
                </div>
                <div class="col-6 float-left cnx-width-auto">
                  <a href="#" class="float-right friends-action">Decline</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Concentrix Four</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="float-right clearfix">
                <div class="col-6 float-left cnx-width-auto">
                  <a href="#" class="float-right friends-action">Accept</a>
                </div>
                <div class="col-6 float-left cnx-width-auto">
                  <a href="#" class="float-right friends-action">Decline</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Ramnivas Kumar</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="float-right clearfix">
                <div class="col-6 float-left cnx-width-auto">
                  <a href="#" class="float-right friends-action">Accept</a>
                </div>
                <div class="col-6 float-left cnx-width-auto">
                  <a href="#" class="float-right friends-action">Decline</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Concentrix Four</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="float-right clearfix">
                <div class="col-6 float-left cnx-width-auto">
                  <a href="#" class="float-right friends-action">Accept</a>
                </div>
                <div class="col-6 float-left cnx-width-auto">
                  <a href="#" class="float-right friends-action">Decline</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tab3" *ngSwitchCase="'tab3'">
    <div class="row">
      <div class="col-12 cnx-card-container">
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Aishwarya</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="col-5 float-right">
                <a href="#" class="float-right friends-action">Cancel Request</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Ramnivas Kumar</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="col-5 float-right">
                <a href="#" class="float-right friends-action">Cancel Request</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Concentrix Four</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="col-5 float-right">
                <a href="#" class="float-right friends-action">Cancel Request</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Ramnivas Kumar</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="col-5 float-right">
                <a href="#" class="float-right friends-action">Cancel Request</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-10 card-content float-left">
                <p class="name">Concentrix Four</p>
                <p class="desig">Advisor: Customer Service, Banking</p>
                <p class="dept">0101-OPERATIONS-DIR</p>
              </div>
            </div>
            <div class="col-12 friends-action-container">
              <div class="col-5 float-right">
                <a href="#" class="float-right friends-action">Cancel Request</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
