<pre class="card card-block card-header">{{message}}</pre>
<div class="modal-body text-center">
  <p>{{confirmationMsg | translate : cnxLanguageService.lastUpdatedTime}} </p>
  <button type="button" class="btn btn-default" (click)="confirm()">{{ 'CONFIRM_YES' | translate: cnxLanguageService.lastUpdatedTime }}</button>
  <button type="button" class="btn btn-primary" (click)="decline()">{{ 'CONFIRM_NO' | translate: cnxLanguageService.lastUpdatedTime }}</button>
</div>