@import '../../../../../variables';
.cnx-page-header {
  //padding: 15px 0;

  .cnx-message-icon {
    color:$cnx-color-white;
    background-color:$cnx-menu-communication;
    padding: 6px;
    border-radius: 50%;
  }

  h6 {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
}

ul.nav {
  margin-bottom: 25px;
  padding-left: 15px;

  li {
    padding: 3px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: $cnx-color-white;
    
    &:first-child {
      border-radius: 15px 0 0 15px;
      border-right:1px solid $cnx-border-grey;
    }

    &:last-child {
      border-radius: 0 15px 15px 0;
      border-left:1px solid $cnx-border-grey;
    }

    &.active {
      color: $cnx-color-white;
      background-color: $cnx-active-tab-color;
    }
  }
}
.cnx-tab-panel-title{
  margin-bottom: 15px;
  font-weight: 600;
}
.cnx-group-panel{
  .cnx-profile-pic-container {
    img.cnx-profile-pic {
      width: 100%;
    }
  }

  .cnx-card-content {
    padding: 0;

    p {
      &.cnx-group{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      &.cnx-subject{
        color:$cnx-color-pale-green;
        font-weight: bold;
      }
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 0px;
      
    }
  }

  .icons-container {
    padding-right: 0;
    width: auto;

    .card-icons {
      font-size: 20px;
      color: #c5c6c7;
      margin-right: 10px;

      &:last-child {
        margin: 0;
        float: right;
      }
    }
  }
}

.cnx-sender-panel{
    .cnx-profile-pic-container {
      img.cnx-profile-pic {
        width: 100%;
      }
    }
  
    .cnx-card-content {
      padding: 0;
  
      p {
        &.cnx-sender{
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        &.cnx-subject{
          color:$cnx-color-red;
          font-weight: bold;
        }
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 0px;
        
      }
    }
  
    .icons-container {
      padding-right: 0;
      width: auto;
  
      .card-icons {
        font-size: 20px;
        color: #c5c6c7;
        margin-right: 10px;
  
        &:last-child {
          margin: 0;
          float: right;
        }
      }
    }
}
