<div class="row cnx-page-header">
  <div class="col-12">
    <div class="cnx-card">
      <i class="fa fa-envelope cnx-message-icon" aria-hidden="true"></i>
      <span class="cnx-header-title">Messages</span>
    </div>
  </div>
</div>
<div class="row">
  <ul class="nav col-12" role="tablist">
    <li class="tab-slider-trigger" [class.active]="viewMode == 'cnx-message-tab1'" rel="cnx-message-tab1" (click)="viewMode ='cnx-message-tab1'">All</li>
    <li class="tab-slider-trigger" [class.active]="viewMode == 'cnx-message-tab2'" rel="cnx-message-tab2" (click)="viewMode ='cnx-message-tab2'">Alerts</li>
    <li class="tab-slider-trigger" [class.active]="viewMode == 'cnx-message-tab3'" rel="cnx-message-tab3" (click)="viewMode ='cnx-message-tab3'">Messages</li>
  </ul>
</div>
<div class="tab-slider-container" [ngSwitch]="viewMode">
  <div id="cnx-message-tab1" class="tab-slider-body" *ngSwitchCase="'cnx-message-tab1'">
    <div class="row">
      <div class="col-12 cnx-card-container cnx-group-panel">
        <div class="cnx-tab-panel-title">
          Groups
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-2 cnx-profile-pic-container cnx-float-left">
                  <img class="cnx-profile-pic img-fluid" src="../../../../../assets/images/default_user.svg" alt="">
                </div>
                <div class="col-9 cnx-card-content float-left">
                  <p class="cnx-group">My Team (3)</p>
                  <p class="cnx-time">4 Hours ago</p>
                  <p class="cnx-subject">Test</p>
                  <p class="cnx-msg">Test</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 cnx-card-container">
        <div class="cnx-tab-panel-title">
          Senders
        </div>
        <div class="cnx-card cnx-sender-panel">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-2 cnx-profile-pic-container cnx-float-left">
                  <img class="cnx-profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
                </div>
                <div class="col-9 cnx-card-content float-left">
                  <p class="cnx-sender">Global Administrator(1)</p>
                  <p class="cnx-time">4 Hours ago</p>
                  <p class="cnx-subject">Concentrix One Down Time | Ram </p>
                  <p class="cnx-msg">Good</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cnx-message-tab2" class="tab-slider-body" *ngSwitchCase="'cnx-message-tab2'">
    <div class="row">
      <div class="col-12 cnx-card-container cnx-group-panel">
        <div class="cnx-tab-panel-title">
          Groups
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-2 cnx-profile-pic-container cnx-float-left">
                  <img class="cnx-profile-pic img-fluid" src="../../../../../assets/images/default_user.svg" alt="">
                </div>
                <div class="col-9 cnx-card-content float-left">
                  <p class="cnx-group">My Team (3)</p>
                  <p class="cnx-time">4 Hours ago</p>
                  <p class="cnx-subject">Test</p>
                  <p class="cnx-msg">Test</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 cnx-card-container">
        <div class="cnx-tab-panel-title">
          Senders
        </div>
        <div class="cnx-card cnx-sender-panel">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-2 cnx-profile-pic-container cnx-float-left">
                  <img class="cnx-profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
                </div>
                <div class="col-9 cnx-card-content float-left">
                  <p class="cnx-sender">Global Administrator(1)</p>
                  <p class="cnx-time">8 Hours ago</p>
                  <p class="cnx-subject">Concentrix One Down Time | Ram </p>
                  <p class="cnx-msg">Good</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cnx-message-tab3" class="tab-slider-body" *ngSwitchCase="'cnx-message-tab3'">
    <div class="row">
      <div class="col-12 cnx-card-container cnx-group-panel">
        <div class="cnx-tab-panel-title">
          Groups
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-2 cnx-profile-pic-container cnx-float-left">
                  <img class="cnx-profile-pic img-fluid" src="../../../../../assets/images/default_user.svg" alt="">
                </div>
                <div class="col-9 cnx-card-content float-left">
                  <p class="cnx-group">My Team (3)</p>
                  <p class="cnx-time">4 Hours ago</p>
                  <p class="cnx-subject">Test</p>
                  <p class="cnx-msg">Test</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 cnx-card-container">
        <div class="cnx-tab-panel-title">
          Senders
        </div>
        <div class="cnx-card cnx-sender-panel">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-2 cnx-profile-pic-container float-left">
                  <img class="cnx-profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
                </div>
                <div class="col-9 cnx-card-content float-left">
                  <p class="cnx-sender">Global Administrator(1)</p>
                  <p class="cnx-time">4 Hours ago</p>
                  <p class="cnx-subject">Concentrix One Down Time | Ram </p>
                  <p class="cnx-msg">Good</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
