<div class="row cnx-margin-zero cnx-margin-bottom-10">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-url-div">
   <div class="row cnx-margin-zero cnx-font-size">
     <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 cnx-padding-left-right-4">
      <app-cnx-user-image [profileImageUrl]= "PostFeeds.PostedByProfileImageUrl" ></app-cnx-user-image>
     </div>
     <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10 col-xl-10 cnx-padding-left-right-4">
       <div class="row cnx-margin-zero">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
           <span class="cnx-profileName">{{PostFeeds.PostedBy}}</span>
           <span>  {{getSharedType(FeedType) | translate : cnxLanguageService.lastUpdatedTime}} </span> 
           <span *ngIf="PostFeeds.SharedWithCount > 0"  class="cnx-shared-type">{{'WITH' | translate : cnxLanguageService.lastUpdatedTime}}</span>
            <span *ngIf="PostFeeds.SharedWithCount > 0" class="cnx-profileName">
                {{PostFeeds.SharedInfo.FirstSharedWithName}} 
            </span>
            <span *ngIf="PostFeeds.SharedWithCount > 0 && PostFeeds.SharedWithCount - 1 > 0" class="cnx-shared-type">
                  {{ 'AND' | translate : cnxLanguageService.lastUpdatedTime}}
            </span>
            <span *ngIf="PostFeeds.SharedWithCount > 0 && PostFeeds.SharedWithCount - 1 > 0" (click)="sharedUserList()" class="cnx-href-text-decoration-remove cnx-profileName">
                  {{PostFeeds.SharedWithCount - 1}}  {{'MORE' | translate : cnxLanguageService.lastUpdatedTime}}
            </span>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-post-share-time">
           <i class="fa fa-clock-o" aria-hidden="true"></i> {{PostFeeds.PostedOn | translatedate : cnxLanguageService.lastUpdatedTime}}
         </div>         
       </div>
     </div> 
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-post-share-time" 
     *ngIf="PostFeeds.SharedInfo && PostFeeds.SharedInfo.SharedDescription && PostFeeds.SharedInfo.SharedDescription != ''">
        <span tooltip="{{ 'DESCRIPTION' | translate: cnxLanguageService.lastUpdatedTime }}"  [innerHTML]="PostFeeds.SharedInfo.SharedDescription"></span>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-post-share-time" *ngIf="PostFeeds.Title && PostFeeds.Title !='' ">
        <span tooltip="{{ 'TITLE' | translate: cnxLanguageService.lastUpdatedTime }}"  >{{PostFeeds.Title}}</span>
    </div> 
     <!-- <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 cnx-padding-left-right-4"></div> -->
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
          <span>{{ 'BY' | translate: cnxLanguageService.lastUpdatedTime }} : {{PostFeeds.PostedBy}}</span> <br>
          <!-- <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-post-share-time" > 
            <i class="fa fa-clock-o" aria-hidden="true"></i>{{PostFeeds.PostedOn | translatedate : cnxLanguageService.lastUpdatedTime}}
          </span>  -->
          <span>
            <a class="" href="{{PostFeeds.SharedURL}}" target="_blank" role=""><b style="color:blue">{{PostFeeds.SharedURL}}</b></a>
          </span> 
     </div>      
   </div>
   <!-- <app-cnx-lcs [feedDetails]='PostFeeds' [feedType]='FeedType'></app-cnx-lcs> -->
 </div>  
</div>
