<!-- <div class="row cnx-page-header">
  <div class="cnx-padding-zero col-12">
    <div class="cnx-card">
      <i class="fa fa-user-circle-o staff-directory-icon" aria-hidden="true"></i>
      <span class="cnx-header-title">Staff Directory</span>
    </div>
  </div>
</div> -->
<div class="row cnx-staff-directory">
  <div class="col-12">
    <div class="row">
      <div class="col-12 cnx-default-bottom">
        <div class="col-11 px-0 cnx-float-left">
          <app-cnx-search [placeholderText]="searchPlaceholder" (emitSearchText)="searchEventReceiver($event)"></app-cnx-search>
        </div>
        <div class="col-1 cnx-float-left no-padding">
          <i class="fa fa-filter cnx-filter-icon pull-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <div class="cnx-card">
            <div class="row">
              <div class="col-2 cnx-float-left">
                <app-cnx-user-image [profileImageUrl]="" [containerClass]=""></app-cnx-user-image>
              </div>
              <div class="col-10 cnx-card-content cnx-float-left">
                <p class="cnx-name cnx-list-head">A Achary</p>
                <p class="cnx-desig cnx-list-content">Advisor: Customer Service, Banking</p>
                <p class="cnx-dept cnx-list-content">0101-OPERATIONS-DIR</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="cnx-card">
            <div class="row">
              <div class="col-2 cnx-float-left">
                <app-cnx-user-image [profileImageUrl]="" [containerClass]=""></app-cnx-user-image>
              </div>
              <div class="col-10 cnx-card-content cnx-float-left">
                <p class="cnx-name cnx-list-head">A Adarsh</p>
                <p class="cnx-desig cnx-list-content">Advisor: CRM Transaction Processing (Complex)</p>
                <p class="cnx-dept cnx-list-content">0101-OPERATIONS-DIR</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
