@import '../../../../../variables';

.no-padding {
  padding: 0;
}

.cnx-page-header {
  // padding: 15px 0;

  .staff-directory-icon {
    color: $cnx-color-white;
    background-color: $cnx-menu-selfservice;
    padding: 6px;
    border-radius: 50%;
  }

  h6 {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
}

.cnx-card {
  .cnx-list-icon {
    max-width: 80%;
  }

  .cnx-card-content {
    padding: 0;

  }
}
.cnx-card-container {
  // margin-top: 20px;

  
  
  // .cnx-card {

  //   .profile-pic-container {
  //     padding-left: 0;

  //     img.profile-pic {
  //       width: 100%;
  //     }
  //   }

  //   .card-content {
  //     padding: 0;

  //     p {
  //       margin-bottom: 0;
  //       font-size: 15px;
  //       font-weight: bold;
  //     }

  //     .name {
  //       margin-bottom: 5px;
  //     }

  //     .desig {
  //       color: $cnx-fountain-blue;
  //     }

  //     .dept {
  //       font-weight: normal;
  //     }
  //   }
  // }

}
