.cnx-checkin-div{
    text-align: left;
    .cnx-img-map{      
        display: block;
        margin-left: auto;
        margin-right: auto;     
        width:90%;
    }
    .cnx-font-size {
        font-size: 14px;
    }

}