<div class="row cnx-margin-zero cnx-margin-bottom-10">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-checkin-div">
     <div class="row cnx-margin-zero cnx-padding-10 cnx-font-size">
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 cnx-padding-left-right-4">
          <app-cnx-user-image [profileImageUrl]= "PostFeeds.ProfileImageUrl" ></app-cnx-user-image>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10 col-xl-10 cnx-padding-left-right-4">
            <div class="row cnx-margin-zero">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
                   <span class="cnx-profileName">{{PostFeeds.EmployeeName}} </span>
                 </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-post-share-time">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> {{PostFeeds.Time | translatedate : cnxLanguageService.lastUpdatedTime}}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  {{ 'CHECKED_IN_FROM' | translate: cnxLanguageService.lastUpdatedTime }} <a class="" href="#" role="">{{PostFeeds.City}} {{PostFeeds.Country}}</a> 
                </div>
              </div>
        </div> 
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-margin-top-5">
            <img class="cnx-img-map img-responsive cnx-width-100-per cnx-map-size" [src]="getCheckedInLocation(PostFeeds)" (error)="getDefaultmap()" alt="location">
        </div>
     </div>
   </div>  
  </div>




