<div class="row cnx-margin-zero cnx-margin-bottom-10">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-image-div">
   <div class="row cnx-margin-zero cnx-padding-10">
    <div *ngIf="PostFeeds.IsShared" class="row cnx-padding-10">
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 cnx-padding-left-right-4 cnx-float-left">
          <app-cnx-user-image [profileImageUrl]= "PostFeeds.PostedByProfileImageUrl"></app-cnx-user-image>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10 col-xl-10 cnx-padding-left-right-4 cnx-float-left">
            <div class="row cnx-margin-zero">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 ">
                    <span class="cnx-profileName">{{PostFeeds.SharedInfo.SharedByName}} </span>
                    <span class="cnx-shared-type"> {{getSharedType(FeedType) | translate : cnxLanguageService.lastUpdatedTime}} </span>
                    <span *ngIf="PostFeeds.SharedWithCount > 0" class="cnx-shared-type">{{'WITH' | translate : cnxLanguageService.lastUpdatedTime}}</span>
                    <span *ngIf="PostFeeds.SharedWithCount > 0" class="cnx-profileName">
                       {{PostFeeds.SharedInfo.FirstSharedWithName}} 
                    </span>
                    <span *ngIf="PostFeeds.SharedWithCount > 0 && PostFeeds.SharedWithCount - 1 > 0" class="cnx-shared-type">
                       {{ 'AND' | translate : cnxLanguageService.lastUpdatedTime}}
                      </span>
                    <span *ngIf="PostFeeds.SharedWithCount > 0 && PostFeeds.SharedWithCount - 1 > 0" (click)="sharedUserList()" class="cnx-href-text-decoration-remove cnx-profileName">
                       {{PostFeeds.SharedWithCount - 1}}  {{'MORE' | translate : cnxLanguageService.lastUpdatedTime}}
                      </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-post-share-time">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{PostFeeds.SharedInfo.SharedOn | translatedate : cnxLanguageService.lastUpdatedTime }}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-post-share-time">
            <span [innerHTML]="PostFeeds.SharedInfo.SharedDescription"></span>
        </div>
    </div>
    <hr class="cnx-hr-style">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4">
        <h5 class="cnx-color-vavy-blue cnx-bold-text cnx-timeline-title">
            <!-- <img class="cnx-user-image cnx-un-read-icon" [src]="getDefaultIcon('CNX_IMG')">&nbsp; -->
            <span *ngIf="PostFeeds.IsRead == false" class="cnx-new-status-label">{{ 'NEW' | translate : cnxLanguageService.lastUpdatedTime}}</span> {{PostFeeds.Title}}
        </h5>
        <span class="cnx-timeline-normal-text">{{ 'BY' | translate : cnxLanguageService.lastUpdatedTime}} : {{PostFeeds.PostedBy}}</span> <br>
        <span class="cnx-post-share-time"> <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{PostFeeds.PostedOn | translatedate : cnxLanguageService.lastUpdatedTime}}</span> <br>
        <span><a class="" ng-href ="PostFeeds.SharedURL" role=""><b style="color:blue">{{PostFeeds.SharedURL}}</b></a></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-padding-left-right-4 cnx-margin-top-5">
        <img *ngIf="PostFeeds.Images?.length > 0" [src]="PostFeeds.Images[0].LinkUrl" class="img img-fluid">
    </div>
   </div>
   <!-- Like comment and share portion -->
   
   <!-- <app-cnx-lcs [feedDetails]='PostFeeds' [feedType]='FeedType'></app-cnx-lcs> -->
   <!-- End -->
 </div>  
</div>

