<!-- Author: TSPL-T0445 Created Date: 05 Sept 2018 -->
<div class="modal-header">
    <h5 class="modal-title">
        <i class="fa fa-share cnx-title-icon"></i>
        <span class="cnx-modal-title-text"> {{ shareTitle | translate: cnxLanguageService.lastUpdatedTime }}
        </span>
    </h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideSharePopup()">
        <span class="cnx-modal-close" aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <form class="form-group" (ngSubmit)="sharePost()" [formGroup]="shareForm">
                    <label class="cnx-modal-title-text">
                        {{'DESCRIPTION' | translate: cnxLanguageService.lastUpdatedTime}}:
                    </label>
                    <textarea class="form-control" style="border-radius:25px" formControlName="description" maxlength="{{descriptionMaxLength}}">
                    </textarea>
                    <div *ngIf="submitted && shareForm.controls['description'].errors" class="cnx-error-msg">
                        <div *ngIf="shareForm.controls['description'].errors.required">
                            {{'DESCRIPTION' | translate: cnxLanguageService.lastUpdatedTime}} {{'IS' | translate: cnxLanguageService.lastUpdatedTime}}
                            {{'REQUIRED' | translate: cnxLanguageService.lastUpdatedTime}}
                        </div>
                    </div>
                    <div class="col-12 cnx-float-right cnx-lcs-action">
                        <label> {{ shareForm.controls['description'].value.length }}/{{ descriptionMaxLength }}</label>
                    </div>
                    <div class="col-12 cnx-float-right">
                        <div class="row">
                            <button type="submit" class="cnx-btn-round" (click)="sharePost()">
                                {{'SHARE' | translate: cnxLanguageService.lastUpdatedTime}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>