@import '../../../../../variables';

.cnx-page-header {
  // padding: 15px 0;

  .kudos-icon {
    color: $cnx-color-white;
    background-color: $cnx-menu-communication;
    padding: 6px;
    border-radius: 50%;
  }

  h6 {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
}

ul.nav {
  margin-bottom: 25px;
  padding-left: 15px;

  li {
    padding: 3px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: $cnx-color-white;

    &:first-child {
      border-radius: 15px 0 0 15px;
    }

    &:last-child {
      border-radius: 0 15px 15px 0;
    }

    &.active {
      color: $cnx-color-white;
      background-color: $cnx-menu-profile;
    }
  }
}

.cnx-card {

  .profile-pic-container {
    padding-left: 0;

    img.profile-pic {
      width: 100%;
    }
  }

  .card-content {
    padding: 0;

    p {
      margin-bottom: 5px;
      font-size: 15px;
      font-weight: bold;
    }

    .time {
      font-weight: normal;
    }
  }

  .icons-container {
    padding-right: 0;
    width: auto;

    .card-icons {
      font-size: 20px;
      color: #c5c6c7; // colour needs to be corrected
      margin-right: 10px;

      &:last-child {
        margin: 0;
        float: right;
      }
    }
  }
}
