<div class="row cnx-page-header">
  <div class="col-12">
    <div class="cnx-card">
      <i class="fa fa-envelope kudos-icon" aria-hidden="true"></i>
      <span class="cnx-header-title">Kudos</span>
    </div>
  </div>
</div>
<div class="row">
  <ul class="nav col-12" role="tablist">
    <li [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Received</li>
    <li [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">Given</li>
  </ul>
</div>
<div [ngSwitch]="viewMode">
  <div id="tab1" *ngSwitchCase="'tab1'">
    <div class="row">
      <div class="col-12 cnx-card-container">
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-9 card-content float-left">
                <p class="name">Aishwarya</p>
                <p class="time">4 Hours ago</p>
                <p class="msg">Good</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-4 icons-container float-right">
                <i class="fa fa-pencil-square-o card-icons" aria-hidden="true"></i>
                <i class="fa fa-trash-o card-icons" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-9 card-content float-left">
                <p class="name">Ramnivas Kumar</p>
                <p class="time">17/13/2018 11:49:11 AM</p>
                <p class="msg">Good</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-4 icons-container float-right">
                <i class="fa fa-pencil-square-o card-icons" aria-hidden="true"></i>
                <i class="fa fa-trash-o card-icons" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-9 card-content float-left">
                <p class="name">Concentrix Four</p>
                <p class="time">10 Hours ago</p>
                <p class="msg">Good</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-4 icons-container float-right">
                <i class="fa fa-pencil-square-o card-icons" aria-hidden="true"></i>
                <i class="fa fa-trash-o card-icons" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-9 card-content float-left">
                <p class="name">Ramnivas Kumar</p>
                <p class="time">17/13/2018 11:49:11 AM</p>
                <p class="msg">Good</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-4 icons-container float-right">
                <i class="fa fa-pencil-square-o card-icons" aria-hidden="true"></i>
                <i class="fa fa-trash-o card-icons" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-9 card-content float-left">
                <p class="name">Concentrix Four</p>
                <p class="time">10 Hours ago</p>
                <p class="msg">Good</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-4 icons-container float-right">
                <i class="fa fa-pencil-square-o card-icons" aria-hidden="true"></i>
                <i class="fa fa-trash-o card-icons" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tab2" *ngSwitchCase="'tab2'">
    <div class="row">
      <div class="col-12 cnx-card-container">
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-9 card-content float-left">
                <p class="name">Aishwarya A</p>
                <p class="time">4 Hours ago</p>
                <p class="msg">Good</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-4 icons-container float-right">
                <i class="fa fa-pencil-square-o card-icons" aria-hidden="true"></i>
                <i class="fa fa-trash-o card-icons" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-9 card-content float-left">
                <p class="name">Ramnivas Kumar</p>
                <p class="time">17/13/2018 11:49:11 AM</p>
                <p class="msg">Good</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-4 icons-container float-right">
                <i class="fa fa-pencil-square-o card-icons" aria-hidden="true"></i>
                <i class="fa fa-trash-o card-icons" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-9 card-content float-left">
                <p class="name">Concentrix Four</p>
                <p class="time">10 Hours ago</p>
                <p class="msg">Good</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-4 icons-container float-right">
                <i class="fa fa-pencil-square-o card-icons" aria-hidden="true"></i>
                <i class="fa fa-trash-o card-icons" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-9 card-content float-left">
                <p class="name">Ramnivas Kumar</p>
                <p class="time">17/13/2018 11:49:11 AM</p>
                <p class="msg">Good</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-4 icons-container float-right">
                <i class="fa fa-pencil-square-o card-icons" aria-hidden="true"></i>
                <i class="fa fa-trash-o card-icons" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="cnx-card">
          <div class="row">
            <div class="col-12">
              <div class="col-2 profile-pic-container float-left">
                <img class="profile-pic" src="../../../../../assets/images/default_user.svg" alt="">
              </div>
              <div class="col-9 card-content float-left">
                <p class="name">Concentrix Four</p>
                <p class="time">10 Hours ago</p>
                <p class="msg">Good</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-4 icons-container float-right">
                <i class="fa fa-pencil-square-o card-icons" aria-hidden="true"></i>
                <i class="fa fa-trash-o card-icons" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
