<!-- Author: TSPL-T0445 Created Date: 10 Sept 2018 -->

<div class="cnx-user-list-card item item-avatar">
    <div class="row">

        <app-cnx-user-image [profileImageUrl]= "userDetails.ProfileImageUrl"  (click)="getUserProfile()"  [containerClass]=""></app-cnx-user-image>
            <div>

            <div class="cnx-user-data">
          
            <p class="cnx-user-name cnx-hand-cursor" *ngIf="userDetails.SharedWithCount > 0" > 
                <span (click)="getUserProfile()" > {{ userDetails.FullName }} </span>   
                <span class="cnx-shared-text" (click)="showSharedPeople()">
                    {{'SHARED' | translate: cnxLanguageService.lastUpdatedTime}}{{'WITH' | translate: cnxLanguageService.lastUpdatedTime}}
                </span>
                <span class="cnx-user-name" (click)="showSharedPeople()">  {{ userDetails.FirstSharedWithName }}</span>
                <span class="cnx-shared-text" (click)="showSharedPeople()" *ngIf="userDetails.SharedWithCount >1" > 
                    {{ 'AND' | translate: cnxLanguageService.lastUpdatedTime}} 
                </span>
                <span *ngIf="userDetails.SharedWithCount >1" (click)="showSharedPeople()" > 
                    {{ userDetails.SharedWithCount -1 }} {{ 'MORE' | translate: cnxLanguageService.lastUpdatedTime }}
                </span>
            </p>
                <p class="cnx-user-designation"> {{ userDetails.Designation }} </p>
                <p class="cnx-action-time"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ userDetails.SharedOn | translatedate }} </p>
        
        </div>
    </div>
    </div>
        
</div>

