@import '../../../variables';

.report-block {
  margin: 0 auto;
  padding: 15px 45px;
  border-radius: 10px;
  text-align: center;
}

.report-container {
  border-radius: 0;
  border: 0px;
  height: 100vh;
  overflow: auto;
}

.cnx-center {
  margin: 0 auto;
}

::ng-deep .cnx-left {
  display: flex;
}

.cnx-green {
  color: $cnx-login-checkmark-checked;
}

.cnx-red {
  color: $cnx-error-label;
}

.cnx-report-heading{
  text-align: center;
  font-size: 29px;
  margin-bottom: 44px;
}