<div class="report-container">
  <div class="report-block align-middle d-flex h-100">
    <div class="container justify-content-center align-self-center">
      <h6 class="cnx-report-heading"> Api Status </h6>
      <div class="row">
        <div class="col-8 cnx-center">
          <accordion>
            <div *ngFor="let api of apiSource">
              <accordion-group>
                <span accordion-heading>{{api.name}}
                  <span class="pull-right">
                    <i class='fa' [ngClass]="{'fa fa-check cnx-green': objFalse === 0, 'fa fa-close cnx-red': objFalse > 0}"></i>
                  </span>
                </span>
                <div *ngIf="api.status !== 0">
                  <div>
                    status: {{api.status}}
                  </div>
                  <div class="row">
                    <div class="col-6">
                      Success:{{objTrue}}
                      <i class="fa fa-check cnx-green" aria-hidden="true"></i>
                      <div class="">
                      </div>
                    </div>
                    <div class="col-6">
                      Failed:{{objFalse}}
                      <i class="fa fa-close cnx-red" aria-hidden="true"></i>
                      <div class="">
                      </div>
                    </div>
                    <div class="col-12 cnx-left">
                      <p *ngIf="objFalse === 0"> Given Api Executed Correctly</p>
                    </div>
                  </div>
                  <div class="col-12 cnx-left" *ngFor="let item of api.source.Response; let i = index">
                    <div *ngIf=" item.isValid === false">
                      {{item.key}} Key is Different
                      <div *ngIf="item.arrayObject">
                        <div *ngFor="let array of item.arrayObject">
                          <div *ngIf="array.isValid === false">
                            {{array.key}} Key is Different
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </accordion-group>
            </div>
          </accordion>
        </div>
      </div>
    </div>
  </div>
</div>
