// color constants
$cnx-icon-label: #8c9199;
$cnx-error-label: #f44336;
$cnx-submit-button:#0b377b;
$cnx-cancel-button:#f4f4f4;
$cnx-label-text:#fff;
$cnx-body-background-color: #f2f3f5;
$cnx-color-vavy-blue :#1f4886;
$cnx-color-pale-green: #46a8b1;
$cnx-color-green:#1faf40;
$cnx-color-red: #f00;
$cnx-color-white:#fff;
$cnx-color-blue:#03a9f4;
$cnx-border-grey:#d9dce0;
$cnx-color-dark-grey:#323f56;
$cnx-color-light-grey:rgba(0, 0, 0, .3);
$cnx-color-pale-grey:#f3f3f3;
$cnx-color-blue-violet:#3498db;
$cnx-color-dark-violet:#042a68;
$cnx-active-tab-color: #00909b;
$cnx-button-green: #4bad64;
$cnx-button-blue: #00b1f0;
$cnx-button-red: #ff7272;
$cnx-color-brownishgrey:#777e8a;
$cnx-color-greenishblue: #00909b;

$cnx-font-gotham-light: 'Gotham-Light';
$cnx-font-gotham-bold: 'Gotham-Bold';
$cnx-font-gotham-book: 'Gotham-Book';
$cnx-font-san-sarif: 'sans-serif';

/**for list style display*/
$cnx-list-title-font-size:14px;
$cnx-list-content-fontsize: 13px;

$cnx-default-margin-padding:8px;
$cnx-content-fontsize: 12px;
$cnx-icon-fontsize: 15px;
$cnx-button-fontsize: 15px;
$cnx-input-fontsize: 13px;
$cnx-language-fontsize: 13px;
$cnx-menu-font-size: 14px;
$cnx-footer-font-size: 12px;
$cnx-profile-image-border: #d9dbde;
$cnx-profile-name:#777e8a;
$cnx-default-border-radius:6px;
$cnx-filter-color:#808792;

$cnx-login-background: #0b377b;
$cnx-input-border-color: #dce0e5;
$cnx-login-checkbox:#5c6677;
$cnx-login-terms:#355289;
$cnx-login-password: #0c959f;
$cnx-login-btn:#0b377b;
$cnx-login-checkmark: #edeff2;
$cnx-login-checkmark-bg: #ccc;
$cnx-login-checkmark-checked: #4bad64;
$cnx-input-font-color: #000000;
$cnx-login-language: #616979;
$cnx-footer-color: #7a95bf;//LCS user list begin
$cnx-home-icon-background:#1faf40;

$list-header-color: #222 !default;
$card-body-bg: #fff !default;
$cnx-user-designation: #40b1b7;
$cnx-user-department:#717171;
$cnx-user-name: #000000;

//LCS count and icon color
$cnx-lcs-color:#808080;
$lcs-icon-count-color: #8c9199;
$cnx-lcs-model-posted-by-color  : #4c5769;
$cnx-lcs-model-posted-by-size   : 13px;   

$cnx-lcs-model-text-color : #9499a2;
$cnx-lcs-model-text-size : 11px;

$cnx-lcs-model-posted-time-size : 9px;

// Color codes for menu options
$cnx-menu-profile: #00909b;
$cnx-menu-communication: #a4c21c;
$cnx-menu-selfservice: #d44e3a;
$cnx-menu-cmpinfo: #f7be23;
$cnx-menu-helpmenu: #4bad64;
$cnx-menu-social: #c8c61a;
$cnx-menu-training: #d4b710;
$cnx-menu-sei: #d4b710;
$cnx-menu-hover: #f15d24;
$cnx_logo_color: #f26934;
$cnx_profile_name_color: #259ba5;
$cnx_profile_name_font_size: 14px;

$cnx-btn-color: #0a377b;
$cnx-modal-controls: #345891;
$cnx-modal-title-color:#333f57;

/*for display alert title*/
$cnx-dark-red:#f2625d;
/*for display shared time*/
$cnx-share-time:#797e86;

$cnx-fountain-blue: #69bbc2;
$cnx-ship-cove: #6E8AB4;