@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Gotham-Light';
  src: url('./fonts/GothamLight.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('./fonts/GothamBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('./fonts/GothamBook.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Common styles starts */
* {
  box-sizing: border-box;
  font-family: $cnx-font-gotham-book, $cnx-font-san-sarif;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

html body {
  padding: 0;
  margin: 0;
  color: $cnx-input-font-color;
  background-color: $cnx-body-background-color;
}

/* for user image */
.cnx-user-image-container {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  overflow: hidden;
  top: auto;
  padding: 0px;
}

.cnx-user-image {

  max-width: 100%;
  min-height: 100%;
}

/*user image in  user profile*/
.cnx-profile-image {
  width: 110px;
  // height: 100px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid $cnx-profile-image-border;
}

/* for error text message */
.cnx-error-msg {
  color: $cnx-error-label;
  font-size: 13px;
}

.cnx-text-align-center {
  text-align: center;
}

/* for all submit button */
.cnx-submit-button {
  color: $cnx-label-text;
  background: $cnx-submit-button;
  border-radius: 25%;
  font-weight: bold;
}

/* for bold*/
.cnx-bold {
  font-weight: bold;
}

/*for display alert title starts*/
.cnx-alert-title {
  color: $cnx-dark-red;
}

/*for display alert title ends*/
.cnx-logo-color {
  color: $cnx_logo_color;
}

.cnx-color-vavy-blue {
  color: $cnx-color-vavy-blue;
}

.cnx-color-pale-green {
  color: $cnx-color-pale-green;
}

.cnx-post-share-time {
  color: $cnx-share-time;
}

.cnx-color-grey {
  color: $cnx-icon-label;
}

.cnx-margin-zero {
  margin: 0px;
}

.cnx-padding-zero {
  padding: 0px;
}

.cnx-padding-left-right-4 {
  padding: 0px 4px;
}

.cnx-padding-10 {
  padding: 10px;
}

.cnx-bold-text {
  font-weight: bold
}

.cnx-padding-top-bottom-12 {
  padding: 12px 0px;
}

.cnx-hand-cursor {
  cursor: pointer;
}

.cnx-margin-top-5 {
  margin-top: 5px;
}

.cnx-margin-bottom-10 {
  margin-bottom: 10px;
}

.cnx-default-bottom {
  margin-bottom: $cnx-default-margin-padding;
}

.cnx-width-100-per {
  width: 100%;
}

.cnx-dynamic-height {
  max-height: fit-content;
}

.cnx-position-relative {
  position: relative;
}

.cnx-position-relative .cnx-position-fixed,
.cnx-position-fixed {
  position: fixed;
}

.cnx-height-50px {
  height: 50px;
}

.cnx-margin-top-50px {
  margin-top: 50px;
}

.cnx-font-10px {
  font-size: 10px;
}

.cnx-float-left {
  float: left;
}

.cnx-red {
  color: $cnx-color-red;
}

.cnx-green {
  color: $cnx-color-green;
}

.cnx-margin-50-perc {
  margin: 50%;
}

.cnx-model-scroll-div {
  padding-bottom: 15px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cnx-pull-right {
  float: right;
}

.cnx-title-icon {
  color: $cnx-btn-color;
}

.cnx-float-right {
  flex-direction: row-reverse;
  display: flex;
}

.cnx-input-round {
  border-radius: 25px;
}

.cnx-fa-transparent {
  color: transparent;
  -webkit-text-stroke-width: 1px;
}

.cnx-href-text-decoration-remove,
.cnx-href-text-decoration-remove:hover,
.cnx-href-text-decoration-remove:focus,
.cnx-href-text-decoration-remove:visited {
  text-decoration: none;
}

.cnx-hr-style {
  margin: 8px 0px;
}

.cnx-profile-hr-style {
  margin: 10px 0px 12px;
}

.cnx-display-inline-block {
  display: inline-block;
}

.cnx-text-align-auto {
  text-align: center;
}

button[type=button]:focus {
  outline: 0px;
}

.cnx-btn-round {
  border-radius: 25px;
  display: inline-block;
  font-weight: 550;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 14px;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: $cnx-btn-color;
  color: $cnx-color-white;
}

.cnx-new-label {
  font-size: 8px;
  background-color: $cnx-color-blue;
  color: $cnx-color-white;
  border-radius: 2px;
  padding: 2px;
}

.cnx-un-read-icon {
  height: 20px;
  width: 20px;
}

.cnx-shared-type {
  font-size: 12px;
  color: $cnx-color-dark-grey;
}

.cnx-map-size {
  width: 490px;
  height: 208px;
}

.cnx-new-status-label {
  padding: 3px 5px;
  font-size: 50%;
  font-weight: 600;
  color: $cnx-color-white;
  text-align: center;
  border-radius: .3em;
  background-color: $cnx-color-blue;
  margin-right: 5px;
  line-height: 1;
  padding-bottom: 2px;
  position: relative;
  top: -3px;
}

.cnx-timeline-normal-text {
  color: #323f56;
  font-size: 12px;
}

.cnx-profileName {
  color: $cnx_profile_name_color;
  font-size: $cnx_profile_name_font_size;
  font-weight: bold;
}

.cnx-user-name {
  color: $cnx-user-name;
  font-size: 14px;
}

.cnx-card {
  background: $cnx-color-white;
  margin-bottom: $cnx-default-margin-padding;
  border-radius: $cnx-default-border-radius;
  padding: 10px;
}

.cnx-more-count {
  font-size: 14px;
  font-style: italic;
  text-align: right;
}

.cnx-filter-icon {
  padding: 11px;
  background: $cnx-color-white;
  border-radius: $cnx-default-border-radius;
  color:$cnx-filter-color;
}

/* Header style starts*/
.cnx-header {
  background: $cnx-color-white;
  //height: 52px;
}

.cnx-header-offset {
  margin-top: $cnx-default-margin-padding;
}

/* Header stye ends*/
/* page header style starts*/
.cnx-page-header {
  padding: 0;

  .cnx-header-title {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;

  }
}

/* page header stye ends*/
.cnx-footer {
  background: $cnx-color-white;
  font-size: $cnx-footer-font-size;
  padding: 10px;
}

/* form control style starts*/
.form-group input.form-control.invalid-input.input-danger {
  border-color: $cnx-error-label;
}

.form-group .form-control:focus,
.form-group select.custom-select {
  box-shadow: none;
}

.form-group .form-control:focus,
.form-group select.custom-select {
  box-shadow: none;
}

/* form control style ends*/

/* Modal style starts*/
div.modal-dialog {
  max-width: 500px;
  margin-top: 10%;

  &.modal-xl {
    max-width: 85%;
  }

  &.modal-lg {
    max-width: 1000px;
  }

  &.modal-md {
    max-width: 450px;
  }
}

.cnx-modal-title-text {
  color: $cnx-modal-title-color;
  font-weight: bold;
}

.cnx-modal-close {
  color: $cnx-modal-controls;
  font-weight: bold;
}

.cnx-modal-loader {
  color: $cnx-modal-controls;
  margin: 5px;
}

/* Modal style ends*/

/*left menu style starts*/
.cnx-menu-main-option {
  margin-left: 0px;

  .cnx-menu-sub-option {
    .cnx-menu-item-block {
      margin-left: 30px;
      margin-top: 10px;
    }
  }
}

/*left menu style ends*/
/**Listing style*/
.cnx-list-head {
  margin-bottom: 0px;
  font-size: $cnx-list-title-font-size;
  font-weight: bold;
}

.cnx-list-content {
  font-weight: normal;
  font-size: $cnx-list-content-fontsize;
  margin-bottom: 0px;
}

/**Listing style*/
/* card style starts*/
// when its a cnx-user-list-card make sure it doesn't duplicate top and bottom borders
.cnx-user-list-card.list {
  padding-right: 1px;
  padding-left: 2%;
}

/**
  * cnx-user-list-cards
  * --------------------------------------------------
  * A cnx-user-list-card is close to the same thing, except a cnx-user-list-card as a box shadow.
  */
.cnx-user-list-card {
  overflow: hidden;
  margin-top: 10px;
  border-radius: $card-border-radius;
  background-color: $card-body-bg;
  padding-top: 10px;
  padding-left: 5%;
  box-shadow: 0 1px 3px $cnx-color-light-grey;

  .cnx-user-list-item {
    border-left: 0;
    border-right: 0;
  }

  .cnx-user-list-item:first-child {
    border-top: 0;
  }

  .cnx-user-list-item:last-child {
    border-bottom: 0;
  }

  .cnx-user-list-item {
    &:first-child {
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }

    &:last-child {
      border-bottom-right-radius: $card-border-radius;
      border-bottom-left-radius: $card-border-radius;
    }
  }

  .cnx-user-list-item:last-child {
    margin-bottom: 0px;
  }

  .cnx-user-list-item {
    margin-right: 0;
    margin-left: 0;

  }

  .cnx-user-data {
    margin-left: 15px;
    vertical-align: middle;
    display: table;
    height: 50px;
    line-height: 18px;

    .cnx-user-name {
      font-weight: 700;
      font-size: 12px;
      margin-bottom: 0;
      white-space: normal;
    }

    .cnx-shared-text {
      font-weight: 400;
    }

    .cnx-user-designation {
      color: $cnx-user-designation;
      font-weight: 700;
      font-size: 11px;
      margin-bottom: 0;
      margin-top: 0;
      white-space: normal;
    }

    .cnx-user-department {
      color: $cnx-user-department;
      font-size: 11px;
      white-space: normal;
    }

    .cnx-action-time {
      font-size: 11px;
      font-weight: 500;
    }
  }
}

/* card style ends*/
/* Like - comment - share styles starts*/
.cnx-lcs-count-icon {
  color: $lcs-icon-count-color;
  font-size: 13px;
}

.cnx-lcs-model-posted-by {
  color: $cnx-lcs-model-posted-by-color;
  font-size: $cnx-lcs-model-posted-by-size;
}

.cnx-lcs-model-text {
  color: $cnx-lcs-model-text-color;
  font-size: $cnx-lcs-model-posted-by-size;
}

.cnx-lcs-model-time {
  color: $cnx-lcs-model-text-color;
  font-size: $cnx-lcs-model-posted-time-size;
}

.cnx-lcs-action {
  color: $cnx-lcs-color;
  font-size: 17px;
}

/* Like - comment - share styles ends*/

/* Loader style starts */
.cnx-model-load-loader {
  border: 15px solid $cnx-color-pale-grey;
  /* Light grey */
  border-top: 15px solid $cnx-color-blue-violet;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-right: 50%;
  margin-left: 50%;
  margin-top: 25%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Loader style ends */
/*search style starts*/

.cnx-search-input-group {
  #cnx-search-input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: $cnx-color-white;
    border-top: 1px solid $cnx-color-white;
    border-bottom: 1px solid $cnx-color-white;
    border-left: 1px solid $cnx-color-white;
    border-right: none;
    min-height: 38px;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  button {
    background-color: $cnx-color-white;
    border-color: $cnx-color-white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none;

    .cnx-search-icon {
      font-size: 20px;
      color: $cnx-login-background;
    }

    &:focus {
      box-shadow: none;
    }
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a0a0a0;
    opacity: 3;
    /* Firefox */
    font-weight: 100;
    font-size: 15px;
  }
}

/* Serach style ends*/
/*poll post styles starts*/
.cnx-poll-btn {
  font-size: 12px;
  padding: 5px 10px;
  line-height: 12px;
  min-height: 20px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid $cnx-color-dark-violet;
  color: $cnx-color-dark-violet;
  background-color: $cnx-color-white;
  outline: none;
}

.cnx-poll-btn:focus {
  outline: none;
}

/*poll post styles ends*/

/*video post style starts*/
.cnx-video-div {
  .cnx-iframe {
    iframe {
      width: 100%;
      min-height: 300px;
    }
  }
}

/*video post style ends*/
//Sample comment

.cnx-timeline-title {
  font-size: 15px;
}

// styles for card having multiple items start
.cnx-card-multiple-items {
  font-size: $cnx-list-title-font-size;

  .cnx-card-title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .cnx-card-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 5px;
    }

    .profile-pic-container {
      padding-left: 0;
      width: 14%;

      img.profile-pic {
        width: 85%;
      }
    }

    .cnx-card-content {
      padding: 0;

      .cnx-card-item-title {
        font-weight: bold;
        color: $cnx-ship-cove;
      }

      .cnx-card-item-content {
        font-size: 13px;
      }
    }
  }
}

// styles for card having multiple items end
