<div class="cnx-poll-detail">
    <div class="">
        <p class="cnx-poll-title">
            <span class="">Testing for poll</span>
        </p>
        <p class="">Human Resource - ESAT</p>
        <p ng-class="{'red' : (quickPollDetailCtrl.pollDetail.ExpiryDate | showExpiryData) == 0}">Expires today</p>
    </div>
</div>