<div class="row cnx-page-header">
  <div class="cnx-padding-zero col-12">
    <div class="cnx-card">
      <i class="fa fa-user-circle-o cnx-helpdesk-icon" aria-hidden="true"></i>
      <span class="cnx-header-title">Helpdesk</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="cnx-card">
      <div class="row">
        <div class="col-2 cnx-float-left">
          <img class="cnx-list-icon img-fluid" src="../../../../../assets/images/news.png" alt="">
        </div>
        <div class="col-10 cnx-card-content cnx-float-left">
          <p class="cnx-list-head cnx-helpdesk-list-title">CALL HR HELPDESK</p>
          <p class="cnx-list-content">+632 8563221 Extension: 8996</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="cnx-card">
      <div class="row">
        <div class="col-2 cnx-float-left">
          <img class="cnx-list-icon img-fluid" src="../../../../../assets/images/news.png" alt="">
        </div>
        <div class="col-10 cnx-card-content cnx-float-left">
          <p class="cnx-list-head cnx-helpdesk-list-title">CONCERN</p>
          <p class="cnx-list-content">Temporary description for concern tickets.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="cnx-card">
      <div class="row">
        <div class="col-2 cnx-float-left">
          <img class="cnx-list-icon img-fluid" src="../../../../../assets/images/news.png" alt="">
        </div>
        <div class="col-10 cnx-card-content cnx-float-left">
          <p class="cnx-list-head cnx-helpdesk-list-title">EXECUTIVE ESCALATION</p>
          <p class="cnx-list-content">Temporary description for Executive Escalation tickets.</p>
        </div>
      </div>
    </div>
  </div>
</div>
