@import '../../../../../variables';

.cnx-page-header {
  .cnx-helpdesk-icon {
    color: $cnx-color-white;
    background-color: $cnx-menu-selfservice;
    padding: 6px;
    border-radius: 50%;
  }
}

.cnx-card {
  .cnx-list-icon {
    max-width: 75%;
  }

  .cnx-card-content {
    padding: 0;

    .cnx-helpdesk-list-title {
      font-size: 13px;
    }
  }
}
