<div class="row cnx-page-header">
  <div class="col-12">
    <div class="cnx-header-container cnx-card">
      <i class="fa fa-newspaper-o cnx-news-icon" aria-hidden="true"></i>
      <span class="cnx-header-title">News</span>
    </div>
  </div>
</div>
<div class="row">
  <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0" *ngIf="newsData?.length > 0" infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="getNewsList()">
           <span *ngFor="let feeds of newsData">
               <div class="cnx-card">
                   <app-news-container [FeedType] = "feeds.FeedType"   [PostFeeds] = "feeds.NewsDetails"></app-news-container> 
                    <app-cnx-post-lcs [feedType] = "feeds.FeedType"   [feedDetails] = "feeds.NewsDetails"></app-cnx-post-lcs>
               </div>
          </span> 
      </div>  -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="newsData?.length > 0">
    <span *ngFor="let feeds of newsData">
      <div class="cnx-card">
        <app-news-container [FeedType]="feeds.FeedType" [PostFeeds]="feeds"></app-news-container>
        <app-cnx-post-lcs [feedType] = "feedType"   [feedDetails] = "feeds"></app-cnx-post-lcs>
      </div>
    </span>
  </div>
</div>
