<div class="row cnx-header">
  <div class="col-12 cnx-header-nav">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="#"><img class="cnx-logo img-fluid" src="assets/cnx-logo.png" alt="Logo" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cnx-navbartoggler" aria-controls="cnx-navbartoggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="cnx-navbartoggler">
        <app-cnx-dashboardmenu></app-cnx-dashboardmenu>
      </div>
      <a class="navbar-brand pull-right" href="#"><i class="fa fa-sign-out cnx-color-grey pull-right" aria-hidden="true"></i></a>
    </nav>
  </div>
</div>
  <div class="container cnx-header-offset">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 cnx-position-relative cnx-card cnx-dynamic-height">
        <app-cnx-left-sidebar class="cnx-position-fixed cnx-left-menu"></app-cnx-left-sidebar>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cnx-middle">
        <!-- <app-cnx-dashboardmenu></app-cnx-dashboardmenu> -->
        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-position-relative">
                  <app-cnx-dashboardmenu class="cnx-position-fixed"></app-cnx-dashboardmenu>
              </div> -->
        <router-outlet></router-outlet>
        <!-- <app-cnx-time-line></app-cnx-time-line> -->
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 cnx-position-relative">
        <app-cnx-right-sidebar class="cnx-position-fixed cnx-right-menu"></app-cnx-right-sidebar>
      </div>
    </div>
  </div>
<div class="cnx-text-align-center row cnx-footer">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cnx-color-pale-green text-align-center cnx-bold-text">
      {{ 'MENU_ABOUT_US' | translate: cnxLanguageService.lastUpdatedTime }} | {{ 'LGN_PRIVACY_POLICY' | translate:
      cnxLanguageService.lastUpdatedTime }} | {{ 'CNX_MNU_CONTACT_US' | translate: cnxLanguageService.lastUpdatedTime }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <i class="fa fa-copyright" aria-hidden="true"></i>{{ 'CNX_COPY_RIGHT' | translate:
      cnxLanguageService.lastUpdatedTime }}
    </div>
  </div>
</div>
