@import '../../../../../variables';

.cnx-left-menu,
.cnx-right-menu {
    width: 100%;
    position: relative;
}
.cnx-header{
    // position: relative;
    // margin: 0px;
    // .cnx-fixed-header{
    //     position: fixed;
    //     width: 100%;
    //     z-index: 9999;
    //     background: $cnx-color-white;
    //     padding: 10px;
    //     .cnx-logo{
    //         height: 10px;
            
    //     }
    // }
}
.cnx-header-nav{
    margin-bottom: 56px;
    .navbar{
        background: $cnx-color-white;
        .navbar-brand{
            max-width: 75%;
            min-width: 17%;
        }
    }
    #cnx-navbartoggler{
        justify-content: center;
    }
    .cnx-logo{
        height: 10px;
    }
}
.cnx-middle{
   padding-left:$cnx-default-margin-padding;
   padding-right:$cnx-default-margin-padding;
}