
<div class="cnx-menu-item-block" (click)="toggleSubMenu(option)" (click)="goToOption(option)">
  <div class="cnx-menu-icon-{{option.Code}}">
    <i class="fa fa-{{option.IconClass}} cnx-fa-transparent" [ngClass]="{'cnx-main-option': optionType === 'main', 'cnx-sub-option': optionType === 'sub'}" aria-hidden="true"></i> 
  </div>
  {{ option.ItemName | translate: cnxLanguageService.lastUpdatedTime}}
</div>
<div class="cnx-submenu-container" *ngIf="option.Submenu?.length > 0"  
  [ngClass]="{'hidden': !option.isShow, 'visible': option.isShow}">
  <div *ngFor="let subMenuOption of option.Submenu" [hidden]="!option.isShow">
      <app-cnx-menu-item [option]="subMenuOption" [optionType]="'sub'" class="cnx-menu-sub-option"></app-cnx-menu-item>
  </div>
</div>
