@import '../../../../../../_variables.scss';

[class^="cnx-menu-icon-"] {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.cnx-menu-item-block {
    //width: 100%;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: $cnx-menu-font-size;
}

.cnx-main-option {
    -webkit-text-stroke-color: $cnx-label-text;
}

.cnx-sub-option {
    -webkit-text-stroke-color: $cnx-icon-label;
}

.cnx-submenu-container.hidden {
    max-height:0;
}

.cnx-submenu-container.visible {
    overflow:hidden;
    transition:max-height 0.5s ease-out;
    height:auto;
    max-height:600px;
}

.cnx-menu-sub-option:hover {
    .cnx-sub-option {
        -webkit-text-stroke-color: $cnx-label-text;
    }
}

.cnx-menu-item-block:hover {
    background: $cnx-menu-hover;
    color: $cnx-label-text;
}

.cnx-menu-icon-profile {
    background-color: $cnx-menu-profile;
}

.cnx-menu-icon-communication {
    background-color: $cnx-menu-communication;
}

.cnx-menu-icon-selfService {
    background-color: $cnx-menu-selfservice;
}

.cnx-menu-icon-cmpinfo {
    background-color: $cnx-menu-cmpinfo;
}

.cnx-menu-icon-helpmenu {
    background-color: $cnx-menu-helpmenu;
}

.cnx-menu-icon-social {
    background-color: $cnx-menu-social;
}

.cnx-menu-icon-training {
    background-color: $cnx-menu-training;
}

.cnx-menu-icon-sei {
    background-color: $cnx-menu-sei;
}